[2020-02-13 14:19] dagadbm opened #1 "Suport for CocAction ?"
Would it make sense to support a way to search through all coc actions / commands you can do with coc?

[2020-02-13 17:34] antoinemadec commented on #1
@dagadbm , you are talking about the equivalient of ```CocList actions``` right?
I am not using ```actions``` very often, but it should be doable using
[code]

I think this is a great idea to add this, would you be OK to try adding this?
You can look at [services.vim](https://github.com/antoinemadec/coc-fzf/blob/master/autoload/coc_fzf/services.vim) for inspiration, it should follow the same struc

[2020-02-14 16:30] dagadbm commented on #1
i think im talking about two different things but my coc knowledge is still low:

the actions i think you can already do with <Plug>(coc-codeaction) right?

im talking about having a list where i can search all possible coc commands for example "tsserver.organizeImports" or "Prettier.formatFile" "eslint.executeAutofix", etc

so maybe this is two different commands?

[2020-02-14 16:30] dagadbm commented on #1
also doesnt this do what i say ?
 https://github.com/iamcco/coc-actions

[2020-02-14 19:39] antoinemadec commented on #1
I think you are talking about ```CocList commands```.
https://github.com/iamcco/coc-actions will provides ```CocList actions``` in a **completion menu**.

The goal of this plugin is to provide ```CocList``` sources using FZF, not to add ```CocList``` sources in a completion menu.
That being said both ```CocList commands``` and ```CocList actions``` would be interesting to add to this plugin :smile

[2020-02-17 03:18] antoinemadec commented on #1
d8c9f1c11072b8b68db7a9779203c9e3f99cacd6 added the equivalent of ```CocList commands```.
You can use this to get inspired for the ```CocList actions``` if you are planning to add this feature.

[2020-02-26 03:28] fgheng opened #2 "[Feature Request] CocList support"
Hello, your plugin is great, I like it very much. I have a new feature request, Is it possible to add `CocList` function, thank you.

[2020-02-26 03:57] fgheng commented on #2
and support tags

[2020-02-26 20:02] antoinemadec commented on #2
@fgheng thanks a lot :smiley:
OK, so if I understand, you would like to add the equivalent of:

1. ```:CocList``` : basically a menu presenting all the available sources
2. ```:CocList tags``` : is this coming from https://github.com/neoclide/coc-lists ?
3. ```:CocList functions``` : I did not find this in any Coc plugin

Regarding 1., I don't really use this in Coc anyway. I prefer mapping the li

[2020-02-27 02:17] fgheng commented on #2
thank you very much.
I may be mistaken about functions, there really are no CocList functions.
1. My technical ability is limited about vim, hahah...
2. fzf.vim`: Tags `show less information than `CocList tags`.
3. I do not find the relevant plugs, but I thought of it from [vista](https://github.com/liuchengxu/vista.vim)

[2020-02-27 22:09] antoinemadec commented on #2
1. got it, no problem. I might add this later, but I don't guarantee anything as I never use ```:CocList``` without the name of the list that interest me
2. I tried ```CocList tags``` and I did not see more information compared to ```:Tags``` (except for nicer highlighting). Could you please give me an example of when more info is provided by ```CocList tags```?
3. Sorry but ```coc-fzf``` aims to

[2020-02-27 23:16] antoinemadec commented on #2
Regarding 2., I must admit after using it a bit longer, ```:CocList tags``` is nicer looking and clearer than ```:Tags```.
I just open an [issue](https://github.com/neoclide/coc-lists/issues/75) to ask for a feature that is needed if we want to implement ```:CocList tags``` in coc-fzf.

[2020-02-28 01:45] fgheng commented on #2
ok, thank you very much

[2020-02-28 18:34] antoinemadec commented on #2
@fgheng , the maintainer of ```coc-lists``` told me to stick with ```:Tags```, I think this makes sense.
```:CocList tags``` does not have more info anyway, just better highlighting.

So out of the 3 requests, only ```:CocList``` makes sense now.
As previously said, I don't use it myself, so I am not sure I will implement it.
PRs are welcome :smiley:

[2020-02-29 03:30] fgheng commented on #2
Thank you anyway :smile:

[2020-02-29 03:30] #2 closed

[2020-03-02 20:11] wookayin opened #3 "Use :CocFzfList {source} instead of :CocFzfListSource"
Hi,

- `:CocFzfListCommands` are a counterpart of `:CocList commands` and
- `:CocFzfListDiagnostics` are of `:CocList diagnostics`, etc.

I personally these command names are quite verbose and cannot type them easily. Why not `:CocFzf {commands, diagnostics}`, etc.? One can use their own command aliases or mappings, but wanted to see if it is something you may want to support officially.

[2020-03-02 23:26] antoinemadec commented on #3
@wookayin , I want to keep ```CocFzfList``` in the name. I think ```CocFzf``` is not enough as you could use Fzf with Coc for other things than only list.

However, ```:CocFzfList {commands, diagnostics}``` sounds like a good idea, especially if we enable completion for the source name.

Would you be interested in implementing it?
As a side note, I am currently implementing ```:CocFzfList``` to di

[2020-03-02 23:40] wookayin commented on #3
`:CocFzfList <list-type> [args...]` sounds good to me -- will try on my free cycle. `:CocFzfList` (akin to `:CocList`) would be also great!

[2020-03-03 01:30] antoinemadec commented on #2
@fgheng ```:CocList``` support has been added in this commit: a8c05c9ee2bf92dd4358f19c6cfc95f1f5241e3d
:wink:

[2020-03-03 01:31] antoinemadec commented on #3
@wookayin , just added ```:CocFzfList``` in a8c05c9ee2bf92dd4358f19c6cfc95f1f5241e3d
Any feedback is welcome :smile:

[2020-03-03 01:48] wookayin commented on #2
I've left some feedback on a8c05c9.

[2020-03-03 03:21] antoinemadec commented on #2
@wookayin , let's keep on talking on #3

[2020-03-03 03:23] antoinemadec commented on #3
b95ea3bcffe67c0f4e0e90a161790d2608a0e99e fixes the script getting the comments for each list.
Please let me know when your ```:CocFzfList {source}``` PR is ready.

Thanks again for the feedback :+1:

[2020-03-03 18:36] antoinemadec opened #4 "[Feature] add CocFzfSymbols -kind {kind}"
See https://github.com/neoclide/coc.nvim/issues/1600

[2020-03-03 21:57] antoinemadec commented on #3
@wookayin , I just implemented this feature on the **issue_3** branch: https://github.com/antoinemadec/coc-fzf/tree/issue_3

Could you please test it and modify it if needed?

Thanks!
Antoine

[2020-03-03 22:02] wookayin commented on #3
To ease our discussion and review through the [Github workflow](https://help.github.com/en/github/collaborating-with-issues-and-pull-requests/about-pull-request-reviews), could we make a pull request for `issue_3`?  Thanks!

[2020-03-03 22:12] antoinemadec commented on #3
@wookayin we can :smile:

[2020-03-05 01:17] antoinemadec opened #6 ":CocFzfListResume fails when args are not numbers"
Solution: use this
[code]

[2020-03-05 01:30] antoinemadec opened #7 "Add clear error message when :CocFzfList {source} does not exist"
if a unsupported command is given (e.g. :CocFzfList foo), we should a better message (e.g. [coc.nvim] List dd not found like :CocList does) than throwing lines of unhandled stacktraces.

[2020-03-05 01:56] antoinemadec commented on #3
Implemented in https://github.com/antoinemadec/coc-fzf/commit/1143dad4c49474905669ec54708270f08fc38669

[2020-03-05 01:56] #3 closed

[2020-03-05 01:56] #4 closed

[2020-03-05 02:05] wookayin commented on #7
Also: `:CocFzfList symbols --kind` (#5) without arguments should have better error message.

[2020-03-05 02:47] #7 closed

[2020-03-05 02:56] #6 closed

[2020-03-05 08:58] wookayin commented on #7
Awesome!

[2020-03-06 03:25] #1 closed

[2020-03-06 03:27] wookayin commented on #1
Awesome!

[2020-03-06 19:33] danielo515 opened #9 "Can't use CocFzfList as command because it is ambiguos"
Hello,
Thanks for this plugin. It is a life saver.
My normal use case would be to just trigger the main list, and navigate from there. However, the base command CocFzfList is ambiguous because it's name is a substring of all the others. Would it be possible to rename it so this is not the case?
Thanks!

[2020-03-06 20:23] antoinemadec commented on #9
Hi @danielo515 , thanks a lot :smile:

Two days ago, I modified the commands to on have one left:
[code]

It now behaves exactly like ```CocList```.

Are you up to date? Does this fix your issue? If not, could you please give me a concrete example of the commands you run and the problem you are facing?

Cheers,
Antoine

[2020-03-06 23:54] danielo515 commented on #9
Just run PlugUpdate, and that fixed my problem. Awesome.
For one seconds, when I hit tab and saw that I was able to select multiple values I thought that I can open several ones, but that is not possible, right?

[2020-03-07 00:01] antoinemadec commented on #9
@danielo515 , nope, ```:CocFzfList``` opens only 1 list at a time (like ```:CocList```).
The command completion won't propose you to enter a second list.

[2020-03-07 00:01] #9 closed

[2020-03-07 10:46] danielo515 commented on #9
Not sure what do you mean by that. Chaining lists (list that open other lists) works, if that is what you mean

[2020-03-07 21:02] antoinemadec commented on #9
@danielo515 , I think we talk about 2 different things.
I meant that, for example, ```:CocFzfList commands diagnostics``` is not supported.
After writing ```:CocFzfList commands```, the completion (pressing tab) won't propose ```diagnostics``` since it is not supported to display 2 lists at the same time.

[2020-03-07 21:21] danielo515 commented on #9
Ah, OK.
Thanks for the clarification

[2020-03-10 11:46] danielo515 opened #10 "Breaking changes"
Hello.
I noticed that you just rollout some breaking changes. Basically my keymaps stopped working, not big deal, but took a bit to figure it out.
I don't have much experience with vim so, is there a mechanism to notify this breaking changes when you update? Do you plan to introduce more breaking changes?

thanks and regards

[2020-03-10 21:51] antoinemadec commented on #10
@danielo515 , the main mechanism is to look at the commit messages.

For instance, on [vim-plug](https://github.com/junegunn/vim-plug), after updating with ```:PlugUpdate```, you can press ```D``` in order to see the changes with their commit messages.
You can also jump into the new commits to see which files were updated.

No, I don't **plan** to, I will try to avoid it :smile:
However if a new f

[2020-03-10 21:51] #10 closed

[2020-03-14 05:52] expipiplus1 opened #11 "Filenames are sometimes missing in the diagnostic window"
First of all, thanks for this super plugin, it was easy to set up and overall makes me very happy~

As a consequence of this it is not possible to navigate to the location of these diagnostic messages

Opening the file which contains the diagnostic via `CocList` seems to make the filenames appear subsequently in `CocFzfList`

I'm happy to debug this a little if told where to start.

Below are two

[2020-03-14 06:10] expipiplus1 commented on #11
My guess would be that since the file has never been opened `bufname` returns the empty string here: https://github.com/antoinemadec/coc-fzf/blob/master/autoload/coc_fzf/diagnostics.vim#L23

I can confirm that the `file` attribute on these errors is present in `CocAction('diagnosticList')`

[2020-03-14 06:28] expipiplus1 commented on #11
Looks like coc just prints the filename, relative if it's under cwd https://github.com/neoclide/coc.nvim/blob/12400280fb132578b2ed7cf4135873893639282d/src/list/source/diagnostics.ts#L17

[2020-03-14 08:09] expipiplus1 opened #13 "Show a message when trying to load an empty list"
It would be nice to get some feedback when loading an empty list, to distinguish "no diagnostics" from "my plugins are broken and this keybinding isn't working"

I think a simple `echo "no diagnostics"` (swap "diagnostics" for whatever the list type is) should do.

[2020-03-15 21:14] #11 closed

[2020-03-15 21:42] #13 closed

[2020-03-16 01:26] expipiplus1 commented on #13
Thanks!

On Mon, Mar 16, 2020, 5:43 AM Antoine <notifications@github.com> wrote:

[2020-03-17 07:13] expipiplus1 opened #14 "Some lists are missing in CocFzfList"
Present in `CocList` but not in `CocFzfList` are:

- output: output channels of coc.nvim
- sources: registered completion sources
- links: links of current buffer

[2020-03-17 16:13] antoinemadec commented on #14
PR are welcome!

@expipiplus1 , out of those 3 lists, which one do you use/need the most?

[2020-03-17 16:37] expipiplus1 commented on #14
Probably outputs I guess, but it's certainly not critical for me :)

On Wed, Mar 18, 2020, 12:14 AM Antoine <notifications@github.com> wrote:

[2020-03-18 03:02] expipiplus1 opened #15 "Support Preview for diagnostic list"
The preview for the `locations` list is awesome, it would be super if one could toggle a preview for diagnostic messages too. I had in mind the preview showing the full diagnostic message with line breaks and all, but I suppose also previewing the location would be nice to have too.

[2020-03-18 03:15] expipiplus1 opened #16 "Initially display list in MRU order"
... or at least with the last used element at the top.

`CocList` seems to do this, keeping the previously selected element under the cursor when opening a list again, it's quite handy.

[2020-03-18 18:36] antoinemadec commented on #15
@expipiplus1 , this is not the default behavior of ```:CocList diagnostics```.

I could maybe add a key to toggle the preview, like ```?``` for instance.
But preview would be off by default to match ```:CocList diagnostics``` behavior.

Would that be OK for you?

[2020-03-18 18:37] antoinemadec commented on #16
Nice idea, but not a priority for now.
PR is welcome :smiley:

[2020-03-18 19:54] antoinemadec commented on #15
@expipiplus1 , I take that back.
The preview is so awesome I decided to make it the default :smile:

If someone is bothered by that behavior, we can still add an option later on.

[2020-03-18 19:54] #15 closed

[2020-03-18 19:55] wookayin commented on #15
Great feature! Could we make preview key configurable as well?

[2020-03-18 20:10] antoinemadec commented on #15
@wookayin , I don't think I will, but PR are welcome :smile:

[2020-03-18 20:38] antoinemadec commented on #15
@wookayin , I broke under peer pressure: https://github.com/antoinemadec/coc-fzf/commit/23c2c56c3c86aa7bb076c21bd27c27512c62e9f7

[2020-03-18 21:19] wookayin commented on #15
@antoinemadec, I was meaning no pressure, but yeah, that's awesome. Thanks!

[2020-03-18 21:39] antoinemadec commented on #15
@wookayin , oh no worries, I was just kidding :smile: (will need to use a smiley next time)

[2020-03-18 22:58] expipiplus1 commented on #15
Wow, thanks!

I mean no pressure by the issues too, only opening them for completeness
sake!

On Thu, Mar 19, 2020, 5:40 AM Antoine <notifications@github.com> wrote:

[2020-03-28 22:19] sethfowler opened #20 ""CocFzfList symbols" takes you to the end of a function's body, not the beginning"
This is a great plugin! I've hit one snag: if I run `CocList -I symbols` and select a function, I'm taken to the beginning of the function definition, which is where I want to go. `CocFzfList symbols` takes me to the end of the function body instead. This seems like a bug, although maybe there's just a configuration option I don't know about. I'm testing with TypeScript code using `coc-tsserver`,

[2020-03-28 23:26] sethfowler opened #21 "The preview window does not appear for "CocFzfList diagnostics""
I'm not getting a preview window when I run `CocFzfList diagnostics`. Hitting "?" just types a "?" normally into the fuzzy finder; it doesn't make a preview window appear.

I have `junegunn/fzf.vim` installed, and I do get a preview window when I use its commands, so I don't think I have any kind of global FZF configuration that's disabling it.

[2020-03-29 01:25] antoinemadec commented on #21
Could you share a minimal vimrc to reproduce this issue? Also could you run :checkhealth and copy the output?

[2020-03-29 01:25] antoinemadec commented on #20
Could you please give me a minimal file example to reproduce this?

[2020-03-29 16:41] sethfowler commented on #20
@antoinemadec Would a non-minimal example work? 🙂 [This repo](https://github.com/sethfowler/chromium-trace-analyzer) demonstrates the problem. These steps should work:
1. Clone the repo.
2. Run `npm install`.
3. Run `nvim src/index.ts`.
4. Run `:CocFzfList symbols`.
5. Start typing `applySourceMapToAttributions` until it shows up, and then select it from the list.
6. You'll end up with the cursor

[2020-03-29 17:10] antoinemadec commented on #20
A minimal example would be easier to debug, thanks.

[2020-03-29 17:24] sethfowler commented on #21
@antoinemadec I actually added some debug logging to `coc-fzf` and tracked this down. The source of the issue is this check:
[code]

If `fzf.vim` and `coc-fzf` load in this order:
[code]

Then that check works, and I get the preview window.

If they load in this order:
[code]

Then the check fails, so the preview window gets disabled.

Since I have my `Plug` entries listed in alphabetical order, I

[2020-03-29 17:56] sethfowler commented on #20
@antoinemadec I tracked down the issue; the fix is in #22.

[2020-03-29 19:39] #20 closed

[2020-03-29 20:07] #21 closed

[2020-04-04 16:29] romariolopezc opened #23 ":CocFzfList symbols fails"
![image](https://user-images.githubusercontent.com/6199588/78456110-0c62e580-765f-11ea-9e45-3b0b613360cb.png)

The command I used with coc was: `:CocList -I symbols`

[2020-04-04 17:46] antoinemadec commented on #23
@romariolopezc , seems to be a python 3.8 new warning: https://adamj.eu/tech/2020/01/21/why-does-python-3-8-syntaxwarning-for-is-literal/

Weirdly enough, I use python 3.8.2 and don't see this warning, but I fixed the issue reported by this SyntaxWarning here: https://github.com/antoinemadec/coc-fzf/commit/122e4c224fed159ed4d11164f73a4bbe6a96c08b

Could you please update `coc-fzf` and try again?

[2020-04-04 17:48] antoinemadec opened #24 "report "Workspace symbols provider not found for current document""
Print clean error when workspace symbols provider is not found, like in CocList:

[2020-04-04 17:56] #24 closed

[2020-04-04 17:59] romariolopezc commented on #23
Updated and now is working, thank you!

[2020-04-04 17:59] #23 closed

[2020-04-04 18:13] romariolopezc opened #25 "Using coc-definition outputs a command"
When using:
[code]

When the definition is oppened from a different file, this outputs instead of the file name:
![image](https://user-images.githubusercontent.com/6199588/78458310-9c0f9080-766d-11ea-9422-7400b9d40121.png)

[2020-04-04 18:22] romariolopezc commented on #25
Going to different buffers with `:bnext` outputs something similar in the file name:
![image](https://user-images.githubusercontent.com/6199588/78458481-e6ddd800-766e-11ea-96c9-e80111d6b833.png)

[2020-04-04 22:40] antoinemadec commented on #25
Could you provide a minimal testcase, with:
- minimal vimrc
- minimal set of files
- exact steps to reproduce the issue

Thanks in advance :grinning:

[2020-04-06 18:40] antoinemadec commented on #25
@romariolopezc , any news about this?

[2020-04-07 03:37] romariolopezc commented on #25
I'm not sure if is caused by this plugin or another updated plugin :cry:

Feel free to close it

[2020-04-07 16:54] antoinemadec commented on #25
@romariolopezc , no problem :smiley:
Please reopen if you see that this was in fact due to coc-fzf.

[2020-04-07 16:54] #25 closed

[2020-04-12 05:56] felippemr opened #26 "Plugin should use python interpreter set on nvim(python3_host_prog)"
First, thanks for this!

I installed the plugin but it seems to be using the python interpreter for the current virtualenv I am in as opposed to using the python interpreter I set on `python3_host_prog`(on neovim).

I installed the python `neovim` module on the interpreter set by `python3_host_prog`.

Also checked `get_workspace_symbols` and saw `#!/usr/bin/env python3`.

[2020-04-12 06:01] felippemr commented on #26
Example of how deoplete uses it https://github.com/Shougo/deoplete.nvim/blob/ea28dd49b78c30c64ef8eb03de5307a6eb98048b/autoload/deoplete/init.vim#L41

[2020-04-12 06:17] felippemr commented on #26
I have zero experience with vim script but I tried implementing it! Let me know if it makes sense.

[2020-04-12 06:18] felippemr commented on #26
I didn't know how to test locally so I don't even know if this works.

[2020-04-13 16:50] antoinemadec commented on #26
@felippemr , thanks for reporting this :smiley:

I have a crazy work schedule rn, and I'm about to be a daddy, so don't expect me to be super reactive...
I will take a look at your PR as soon as possible, however you might have to fix it yourself.

Thanks again!

[2020-04-13 17:13] felippemr commented on #26
Congratulations! I will fix it if needed , no worries. Can you tell me how can I test it locally as well?

[2020-04-13 20:09] #26 closed

[2020-04-18 07:50] emmtte opened #28 "Installation impossible with :CocInstall coc-fzf"
when used

````:CocInstall coc-fzf````
I have this error message
[code]

[2020-04-18 13:44] expipiplus1 opened #29 "fork/exec...invalid argument in preview window in diagnostic list"
When I use the preview window in the diagnostic window I just see the error message

[code]

There are a couple of `messages` but no smoking gun

[code]

I am using the latest coc-fzf and fzf-vim

[2020-04-18 15:59] Avi-D-coder commented on #28
Use your vim plugin manager.
`Plug 'antoinemadec/coc-fzf'`

[2020-04-18 16:11] antoinemadec commented on #29
@expipiplus1 , I am also using the latest coc-fzf and fzf-vim and I cannot reproduce this.

Could you please share:

- the **minimal** vimrc to reproduce this
- the exact commands/key strokes to type to reproduce this

Thanks!
Antoine

[2020-04-18 16:19] expipiplus1 commented on #29
Sorry for the somewhat lazy issue :)

Is there an easy way to fake lsp or coc output? This happens with the haskell ide engine which sadly isn't trivial to set up.

Just a guess, but do you think it could be to do with either quotes or newlines in the error message?

I just noticed that in my current buffer there are five error messages, and only the two messages with quotes and newlines show this

[2020-04-18 16:21] antoinemadec commented on #28
@emmtte , as @Avi-D-coder said, for non-official Coc plugins, you have to install it like any other vim plugin: ```Plug  'antoinemadec/coc-fzf'```

However, I just opened an issue to the maintainer of Coc Marketplace to see if they would be open to adding coc-fzf.

I will keep this issue open until I get a clear answer from them.

[2020-04-18 16:28] antoinemadec commented on #29
@expipiplus1 , so this issue is seen when using ```:CocFzfList diagnostics``` correct?
However, the error message you sent in your previous message was mentioning ```Coc List```, so I'm a little confused...

Please at least send me:

- commands you are typing
- the diagnostic message that seems to be the issue

If I have those, I could at least try to understand where the problem might be and mayb

[2020-04-19 03:44] fannheyward commented on #28
I don't think you can do `CocInstall coc-fzf`, because `coc-fzf` is not a node package. `CocInstall` just do npm/yarn install, ([code](https://github.com/neoclide/coc.nvim/blob/master/src/model/extension.ts#L126)) , the better way to install is using vim plugin manager, like `vim-plug`.

[2020-04-19 14:44] expipiplus1 commented on #29
@antoinemadec

The command is `CocFzfList diagnostics`

The diagnostic message is:

[code]

And it appears at `utils/Control/Monad/Trans/Resource/Local.hs:10:1`

Thanks :)

[2020-04-19 17:26] antoinemadec commented on #28
@fannheyward , thanks a lot for the clear reply :smiley:

[2020-04-19 17:26] #28 closed

[2020-04-19 17:58] #29 closed

[2020-04-19 18:00] antoinemadec commented on #29
@expipiplus1 , thanks a lot!

The issue was with FZF (or fzf.vim), where multi-line strings were not handled properly.
I just substituted every ```"\n"``` for ```" "``` in the diagnostic message.

Thanks again,
Antoine

[2020-04-20 01:49] expipiplus1 commented on #29
Thanks!

On Mon, Apr 20, 2020, 2:01 AM Antoine <notifications@github.com> wrote:

[2020-04-20 05:50] expipiplus1 commented on #11
Thanks for fixing this :)

[2020-04-20 06:06] expipiplus1 opened #30 "Ability to preview diagnostic messages themselves in diagnostic list"
It would be nice to (in the presence of large, multi-line messages) be able to have a preview of the whole error message. A bonus would be to *also* display the diagnostic location in the file as is currently done.

I'm happy to be assigned this issue, although I can't promise when I'll get round to it.

[2020-04-27 18:30] antoinemadec commented on #30
I think this is more of a FZF than a coc-fzf issue, but I will assign it to you for now.
Feel free to close this after investigation, or to create a PR.

[2020-04-27 19:17] felippemr opened #31 "Issue with neoterm"
For some reason [`coc-fzf#common#fzf_selector_save` ](https://github.com/antoinemadec/coc-fzf/blob/5bf230e38054d927305b6ac5a5e9158301ba28c3/autoload/coc_fzf/common.vim#L17)sometimes is being called when I am in neoterm. I don't understand why but it only happens sometimes and only stops after I restart neovim.

![Screen Shot 2020-04-27 at 12 17 22 PM](https://user-images.githubusercontent.com/2388

[2020-04-27 19:27] antoinemadec commented on #31
Hi @felippemr , ```fzf_selector_save``` is called through the following autocmd:
[code]
Is ```neoterm```'s ft=fzf?
If that's the case, it might be better to use a buffer variable to trigger ```remap_enter()```.

[2020-04-27 20:08] felippemr commented on #31
Hey @antoinemadec , thanks for the quick response.

How can I check?

[2020-04-27 20:23] antoinemadec commented on #31
First, go to normal mode in your term with: ```<c-\><c-n>```
Then, do: ```:echo &ft```

[2020-04-27 20:29] felippemr commented on #31
The response was `neoterm`. I will do it again when it fails to see if it changes.

[2020-04-27 20:35] antoinemadec commented on #31
OK, please also provide a **minimal** ```vimrc``` as well as precise instructions to reproduce the error.

[2020-04-27 21:05] felippemr commented on #31
[code]
This is my `init.vim`.

To replicate:

-  install the plug dependencies
-  open a new nvim instance
-  go to normal mode and then start as new neoterm(`:Tnew`)
-  try to press enter

Sometimes the error happen, sometimes it does not and I haven't figured it out why.

[2020-04-27 21:26] felippemr commented on #31
The workaround it, for now, is to close all the opened neoterm sessions and open new ones.

[2020-04-28 01:02] antoinemadec commented on #31
@felippemr , I tried to reproduce you steps 10 times and never saw any issue on my end.
Questions:

1. is ```echo &ft``` equals to neoterm also when it fails?
2. what is your neovim version?
3. does the bug happens only happens if you opened a FZF buffer before?

If 3. is the case please send me a new vimrc and new instructions to include this in your testcase.

[2020-04-28 16:30] felippemr commented on #31
Hey @antoinemadec , thanks for being so helpful and responsive!

Yes

0.4.3

I tried it sometimes and couldn't replicate it yet. It happens throughout my day and I haven't been able to recognize the pattern yet.

I will keep trying to replicate it and will post it here when I find something.

[2020-04-28 21:17] #31 closed

[2020-04-28 21:19] antoinemadec commented on #31
@felippemr , please update and try again. I am pretty confident this should fix your issue :smiley:
Don't hesitate to re-open if the issue persists. Cheers!

[2020-04-29 17:36] MarinPostma opened #32 "CocFzfList symbols not working"
hello!

when running `:CocFzfList symbols` and start writing a query, I get the following error:
[code]

Any idea how to fix this ?

[2020-04-29 20:28] antoinemadec commented on #32
What happens is you try this command in a terminal?

Please keep in mind that the arguments of this command (<socket> <channel> <bufnr>) are different for each session.
Just try to run ```:CocFzfList symbols``` in your current session, and copy paste the command of the error message. Paste and execute it in a terminal.

Cheers,
Antoine

[2020-04-29 20:50] MarinPostma commented on #32
Thank you Antoine!
the error message pointed me to `pynvim`,which I hadn't re-installed with my latest installation, it now works like a charm :)

[2020-04-29 22:46] antoinemadec commented on #32
Super, ravi de pouvoir aider :smiley:

[2020-04-29 22:46] #32 closed

[2020-05-01 22:39] romariolopezc opened #33 "Using :CocFzfList outline doesn't store jumps"
Hello! First, thanks for this package, is awesome

When using `CocFzfList outline` and going to a definition, I can jump back but not forward, I think when going to the definition the jumps is not stored?

I tested with `CocList outline` and the behaviour is correct, jumping back and forth after selecting an option

EDIT: I wanted to take a GIF for demonstration and did `:clearjumps` and while I w

[2020-05-02 17:51] antoinemadec commented on #33
@romariolopezc , thanks a lot for reporting.
You are right, this is impacting: diagnostics, location, outline and symbols.

This is because I am using ```cursor()``` to go the the desired line, and it does not store it in the jumplist.
I will work on a solution today or tomorrow.

Antoine

[2020-05-02 17:52] romariolopezc commented on #33
Thank you!

How do you store it in the jumplist? I want to learn to be able to help on the future

[2020-05-02 18:09] #33 closed

[2020-05-02 18:13] antoinemadec commented on #33
@romariolopezc , you can use ```m'``` to add the current position in the jumplist.
Per Vim help, it "Set the previous context mark.".

Feel free to look at the commit and ask me any question on the code if you plan on contributing :smiley:

Thanks again for reporting :heart: ,
Antoine

[2020-05-13 13:48] asermax commented on #14
Not entirely related but I thought to ask here before opening a separate issue: is it possible to support lists provided by other coc plugins? One of the lists I use the most is the one provided by [coc-yank](https://github.com/neoclide/coc-yank) and I would love to be able to use it with fzf.

[2020-05-13 18:02] antoinemadec commented on #14
@asermax , it is possible if they instrument a way to get the list info.
For instance, to reconstruct the diagnostics list with FZF, we call ```CocAction('diagnosticList')```.

If a coc plugin provides the list info via a function, it is in theory possible to add it to ``coc-fzf```.

Regarding ```coc-yank```, I don't know if it does provide the list info via a function.
I won't implement it, but P

[2020-05-13 18:24] asermax commented on #14
Alright, will try to understand a bit more how both plugins work and give it a run :+1:
Thanks for the quick reply!

[2020-05-18 10:01] baipaiha commented on #15
great feature, great plugin, thx
Automatic preview for "CocFzfList symbols" would be awesome !

by the way, i'm not able to launch preview by pressing '?' since it's interpreted as a seach pattern. is there an escape code ? or this feature is not available for symbols list ?

[2020-05-18 14:15] antoinemadec commented on #15
@baipaiha thanks!
Previews are not available for symbols for now.
PR welcome🙂

Antoine

[2020-05-21 04:02] samhvw8 opened #35 "CocFzfList symbols notworking"
Hi @antoinemadec
when i run command :CocFzfList symbols i got error

![image](https://user-images.githubusercontent.com/12538214/82522040-702f6800-9b52-11ea-9800-fdd561817984.png)

[code]

For Version
[code]

please help :(

[2020-05-25 21:17] antoinemadec commented on #35
@samhvw8 you are right , after updating Coc.nvim I get the same error message, I will work on this.

Thanks,
Antoine

[2020-05-25 22:03] antoinemadec commented on #35
@samhvw8 , it appears the maintainer of coc.nvim is changing its API and what is accessible to other plugin like coc-fzf: https://github.com/neoclide/coc.nvim/issues/1937

If we cannot have access to Coc's lists and symbols, I am afraid that this means the end of ```coc-fzf``` :cry:

[2020-05-26 05:59] chemzqm commented on #35
The bug on master branch was fixed by https://github.com/neoclide/coc.nvim/pull/1987

[2020-05-26 19:43] #35 closed

[2020-05-26 19:44] antoinemadec commented on #35
@samhvw8 , this fixes the issue with symbols.
Thanks for reporting this issue :smiley:

[2020-05-27 04:57] samhvw8 commented on #35
@chemzqm  @antoinemadec  Thanks you for fix the issues 🎉

[2020-05-28 00:49] antoinemadec commented on #15
@baipaiha preview on symbols was added by https://github.com/antoinemadec/coc-fzf/commit/ba8cf9afc8aae3ea4086d89a01bd414d42a6b8bc

[2020-05-28 09:29] baipaiha commented on #15
great ! thx !

[2020-06-02 21:20] antoinemadec opened #36 "yank: add block/line/char info"
Hi @asermax ,

Could you please also add the block/line/char info in ```CocFzfList yank``` in order to match ```CocList yank```?

You can get the info from the yank file:

- |V| is line
- |v| is char
- |^v| is block

Do not hesitate to ask me any question :smiley:

Thanks,
Antoine

[2020-06-02 21:30] asermax commented on #36
Sure, now that the basic functionality is in place (which is what I use the most), I was thinking on adding those extras as well.
Will do when I have some free time 👍

[2020-06-06 03:52] fragov opened #37 "Add support for coc-bookmark plugin"
Is there any plans to add support for coc-bookmark plugin?

[2020-06-07 22:16] antoinemadec commented on #37
@fragov , not yet, but I am open to Pull Requests.
After quickly looking at ```coc-bookmark```, it seems that it would resemble the code we use for ```coc-yank```.

If you want to create a PR, please use ```autoload/coc_fzf/yank.vim``` as an example.

Thanks,
Antoine

[2020-06-09 03:26] timtyrrell commented on #36
Preview would be amazing, also. 🙏  Either way, thanks for getting Yank it there, I appreciate it.

[2020-06-09 21:35] antoinemadec commented on #36
Preview for yank list is possible in theory, it will require to pass ```<file>:<line_nb>``` at the end of each line in FZF.
Since we don't want the user to see those info at the end of each FZF line, we could highlight it with the ```Ignore``` highlight group.
Similar things have been done in  ```autoload/coc_fzf/symbols``` for instance.

That being said, this would not work perfectly on **char**

[2020-06-10 15:28] tomtomjhj opened #39 "Handle multiple selection with quickfix list like CocList quickfix action"
The default CocList supports [quickfix action](https://github.com/neoclide/coc.nvim/blob/c83813f73007d00d5590495d8d6420ad3ded632d/doc/coc.txt#L2635) for commands like `<Plug>(coc-references)`. It adds the selected entries to vim's quickfix list so that users can inspect multiple references one by one. So it would be great if coc-fzf can handle multiple selection in a similar way.

I think the good

[2020-06-10 22:04] antoinemadec opened #40 "Fix symbol preview when symbol is more than 1 word"

[2020-06-10 23:57] #40 closed

[2020-06-11 06:51] wadkar commented on #3
For the sake of posterity and to the benefit of our search overlords:

If you are getting`E492: Not an editor command: CocFzfListCommands` in your neovim because you set some keymaps ([prior to this change](https://github.com/antoinemadec/coc-fzf/commit/1143dad4c49474905669ec54708270f08fc38669#)) and they are no longer working.

Please update your keymaps by carefully observing the space. We now h

[2020-06-11 18:42] antoinemadec commented on #3
@wadkar we are trying to mimic coc.nvim behavior, they have 2 functions CocList and CocListResume.

Thanks,
Antoine

[2020-06-12 02:06] asermax commented on #36
I'll start playing with this now that my other PR got merged, sorry for the delay!

[2020-06-12 23:50] antoinemadec commented on #39
@tomtomjhj I will actually take care of it.
I already have a proof of concept working!

[2020-06-13 00:35] #39 closed

[2020-06-13 00:36] antoinemadec commented on #39
@asermax , I actually benefited from your code factorization in ```outline.vim```.
Haha, didn't think it would pay off that quickly :wink:

[2020-06-19 21:51] #36 closed

[2020-06-19 23:08] antoinemadec commented on #36
@timtyrrell , preview was added.
Please update and let us know if you encounter any issues :wink:

[2020-06-19 23:10] timtyrrell commented on #36
@antoinemadec I saw that and already updated! I looks pretty slick so far, thanks a lot!

[2020-06-20 00:39] antoinemadec opened #42 "yank: copy/paste of string containing \n"
Yanking this:
[code]

Will paste this if using ```CocFzfList yank```:
[code]

Escaping the ```/n``` of the original yank lines should fix this.

[2020-06-20 00:43] antoinemadec commented on #42
@asermax , FYI. I will take care of this during the weekend.
This is a classic "escaping the escape character" kind of issue.

[2020-06-20 18:42] #42 closed

[2020-06-20 18:46] antoinemadec opened #43 "yank: does not match CocList yank behavior"
Two things:

1. does not support block paste properly
2. copies yank in buffer (CocList yank does not)

1- can be addressed with a tedious list of actions like: go 1 line down at the same col, insert next yank line etc. Don't forget to use keepjumps

2- can be addressed with nvim_paste()

[2020-06-23 20:12] antoinemadec opened #44 "term window is too small and don't display info properly"
# Issue
This is a FZF issue and only happens when using:

- term
- with preview

E.g.:
![fzf_height_issue](https://user-images.githubusercontent.com/10830594/85455957-4ef7d800-b553-11ea-9d7b-3f1311cf0f6c.png)

# Quickfix

Use FZF floating windows:
[code]

# Clean fix:
See: https://github.com/junegunn/fzf/issues/2093

[2020-06-29 17:52] antoinemadec commented on #44
Closing as this has been fixed in Fzf: https://github.com/junegunn/fzf/commit/bdde69d011436abdf9e90dff584981e83775d834

[2020-06-29 17:52] #44 closed

[2020-06-30 00:04] #43 closed

[2020-06-30 00:05] antoinemadec commented on #43
Note that block/char are still handled like line yank in Vim.
Neovim offers nvim_put() API which takes care of those yank types for you.

Doing the same in Vim would require going line by line and jumping at the right column.

[2020-07-01 04:37] yutakatay opened #45 "[Feature Request] Do you plan to support the fzf.vim command?"
I would like to use coc-fzf as the only interface to fzf.
Do you plan to support fzf.vim's `:Files` , `:Buffers` and other commands?
https://github.com/junegunn/fzf.vim#commands

In short, it means adding a `:CocFzfList files`, `:CocFzfList buffers`  command or something like that.

[2020-07-02 18:23] antoinemadec commented on #45
Hi @yutakatay , the goal of ```coc-fzf``` is to use Fzf to manipulate CocList sources (like diagnostics etc).

```:Files``` and ```:Buffers``` commands are already defined by ```fzf.vim``` and I don't plan to make ```:CocFzfList``` a wrapper for those commands. It would make things very confusing.

I personally never type those commands manually as I prefer to use keyboard mappings.

However, you

[2020-07-02 18:23] #45 closed

[2020-07-03 01:37] yutakatay commented on #45
I'll try it. Thank you :smile:

[2020-07-17 09:28] yuki-ycino opened #46 "I'd like to refer to the coc-fzf implementation"
I'm a developer of [fzf-preview.vim](https://github.com/yuki-ycino/fzf-preview.vim/).
I've recently been working on coc extensions as coc-fzf-preview.
I'm implementing Diagnostics and References for coc, can I refer to the coc-fzf syntax highlight?

If it's OK, I'd like to implement it and then link to the README.

[2020-07-17 22:58] antoinemadec commented on #46
@yuki-ycino , absoluetly, no problem.
This is free software, you can definitely reuse whatever code you want :smiley:

Closing the issue for now, but feel free to ask me any question you might have.

Cheers,
Antoine

[2020-07-17 22:58] #46 closed

[2020-07-18 12:31] yuki-ycino commented on #46
Thank you!
Implemented and described in the README.

[2020-07-27 15:40] lkhphuc opened #47 "Color is wrong?"
![Screenshot 2020-07-27 at 16 38 03](https://user-images.githubusercontent.com/12573521/88561613-8c0a2b00-d027-11ea-8e44-42c686c4e262.png)
Hello, first thank you for the plugin.
The above is the current color of my Coc-Fzf list, there is no distinction between the first word and the rest. All words has the color of the code comments.

Does anyone know a possible reason for this and a quick fix? Th

[2020-07-27 15:57] antoinemadec commented on #47
@lkhphuc , thanks a lot for reporting this.
The first word is supposed to be highlighted, here is how it looks like for me:
![coc_list](https://user-images.githubusercontent.com/10830594/88563658-14b4a700-cfe7-11ea-981a-af9198197d1d.png)

That being said, the patterns used for the highlight might not be very robust.
**Could you please provide the minimal vimrc to reproduce this error?**

Thanks,
A

[2020-07-27 16:33] antoinemadec commented on #47
It might be coming from the relative numbers you have on your floating window.
Please provide the following info for me to reproduce:

1. **minimal vimrc**
2. vim/nvim version
3. are your plugins up-to-date?

Thanks!

[2020-07-27 16:57] lkhphuc commented on #47
Thank for your help. I identified the culprit, a conflict with fzf-vim setting.
`let $FZF_DEFAULT_OPTS .= ' --border --margin=0,2'`
I deleted the above line and it's ok now, not sure why I had it in the first place.

[2020-07-27 16:57] #47 closed

[2020-07-27 18:39] antoinemadec commented on #47
@lkhphuc nice!
Yes, those OPTS appear to create a box inside a box kind of window.
This messes up the highlight patterns.

[2020-07-31 10:24] kyletruong opened #48 "Help with CocFzfList symbols"
Is there a way to run `:CocFzfList symbols` over the current word my cursor is on? If there was functionality to do something like `CocFzfList symbols {mySymbol}` I could use `expand('cword')`. But it looks like I have to enter the floating modal first via `:CocFzfList symbols` then type the name of the symbol I'm searching.

[2020-07-31 18:43] antoinemadec commented on #48
That's a sweet feature indeed, I am almost done implementing it.

Quick question, why do you want to query symbols matching the current word?
Just so you know, you can use ```gr``` to find references (```<Plug>(coc-references)```).

[2020-07-31 18:44] #48 closed

[2020-07-31 18:46] antoinemadec commented on #48
@kyletruong please let me know if you face any issues after this commit.
Thanks!

[2020-07-31 18:48] kyletruong commented on #48
I would love if `CocFzfList symbols` to work for the pop-up window and code preview. With `coc-references` the maintainer has commented that it wouldn't be easy to implement because of issues with the terminal buffer. [See here](https://github.com/neoclide/coc.nvim/issues/1586).

Thank you this is great! I'll try it out and let you know here if I experience any issues with it.

[2020-07-31 19:15] antoinemadec commented on #48
All of the ```CocFzfList``` commands as well as the ```coc-references``` already work with  previews and floating windows.

Refer to the README, just make sure to have a proper installing in your **vimrc**, for instance:
[code]

And then set add this in your **vimrc**:
[code]

And voila, ```CocFzfList symbols``` and ```<Plug>(coc-references)``` will now work in a Fzf popup window.
You can now use

[2020-08-01 16:36] fgheng opened #49 "Add support for "go to reference""
just like [fzf-preview](https://github.com/yuki-ycino/fzf-preview.vim), it shows all reference in fzf float window

[2020-08-01 16:46] antoinemadec commented on #49
It is already supported, just make sure to install fzf.vim, and to add the g:fzf_layout in yiur vimrc (see README).
Then gr will open references im a floating window with previews.

[2020-08-01 16:46] antoinemadec commented on #49
Please confirm it fixed your issue, if not, please provide a minimal vimrc to reproduce the issue.

[2020-08-02 02:05] fgheng commented on #49
Yes, it supports, thank you very much.
but there's a problem, it can not focus on the floated window when I use `gr` to open the reference window.

[2020-08-02 02:10] fgheng commented on #49
Is that you rewrite <plug>(coc-references)? why I don't need to config something.

[2020-08-02 15:02] antoinemadec commented on #49
For the focus issue, please provide the **minimal** vimrc to reproduce.

[2020-08-02 15:04] antoinemadec commented on #49
For (coc-reference) i use the CocLocationsChange autocmd instrumented by Coc. See https://github.com/antoinemadec/coc-fzf/blob/master/after/plugin/coc_fzf.vim

[2020-08-02 16:10] fgheng commented on #49
Sure, I know what happened.
When I used `gr` to open the floating window, it focused on the floating window, but not in insert mode, so when I use `ctrl j`(I map ctrl j to move the cursor to the down window) to move the item down, it moves to the window at the bottom.
How to set insert mode?

[2020-08-02 16:12] antoinemadec commented on #49
It should already be in insert mode. Please provide minimal vimrc to reproduce.

[2020-08-02 17:40] antoinemadec commented on #49
@fgheng , I tested the plugin with Vim, and I see the issue you are describing, as well as others.
I will open a new issue for that.

[2020-08-02 17:48] antoinemadec opened #50 "Vim issues"
This plugin does have issues with Vim:
1. no highlighting in Fzf window
2. <del>no highlighting in destination file when using ```gr``` (needs to do :e to re-trigger highlights)
3. <del>bug with floating window + ```gr``` where the floating window seems to be empty and then opens in a tab

Some of those issues might be related to other plugin (fzf, fzf.vim or coc.nvim).
**For now, the easy fix is

[2020-08-02 17:50] antoinemadec commented on #49
Your problem seems to match 3- in that issue: #50
I'm gonna close this issue for now, please keep an eye on #50

If you are using Neovim and not Vim, this could be another problem.
If that's the case feel free to re-open this issue :smiley:

[2020-08-02 17:50] #49 closed

[2020-08-03 02:50] dianlujitao opened #51 "list index out of range error on exit"
I hit the following error when exiting `CocFzfList commands` as well as some other sources, but not all:\

[code]

MWE vimrc:

[code]

Steps to repro:

1. launch vim
2. Press <kbd>space</kbd> and <kbd>c</kbd> to open commands list, no errors observed so far
3. Press <kbd>esc</kbd> to exit, the error above shows up

Vim version:

[code]

[2020-08-03 03:43] antoinemadec commented on #51
Yep, i saw that this afternoon, this is an issue than only happens with vim
... Easy fix is to use neovim. I will try to work on this, but it seems pretty intense.

[2020-08-03 03:54] fgheng commented on #49
oh, I found what happened now. The keymap in my config file is wrong.

No matter what, thank you very much.

[2020-08-03 17:17] #51 closed

[2020-08-03 17:19] antoinemadec commented on #51
@dianlujitao , thanks for reporting the issue. It was actually not that hard to fix.
Please let me know if this fixed it for you.

Also, since I don't use vim as my daily driver, could you please keep an eye on #50 ?
I am trying to fix all vim specific "bugs". If you see other vim problems please let me know :smiley:

Thanks!

[2020-08-03 21:31] antoinemadec commented on #50
aeaf103fdef9f5f57d83d6ce6c76ec3bb871aaa6 and ca077f82959f34cb2859c6202736f00b747cd210 fixed 2- and 3-.

1- is actually a Vim issue where **syntax match** is not highlighted in **terminal** mode.

[2020-08-04 02:05] dianlujitao commented on #51
Thanks, the fix works here, will keep track of other vim-specific bugs.

[2020-08-08 20:02] #50 closed

[2020-08-08 20:04] antoinemadec commented on #50
@dianlujitao , you should now have beautiful colors in Vim as well.
Could you please update this plugin and confirm colors are working fine for you on Vim?

[2020-08-09 04:10] dianlujitao commented on #50
Yay `:CocFzfList extensions` and `:CocFzfList commands` get colors now, thanks for the improvement!

[2020-08-09 17:57] antoinemadec commented on #50
@dianlujitao , all CocoFzfList should now have colors now! If thats not the case, dont hesitate to open a new issue.
Thanks for confirming that its working 👍

[2020-08-13 01:24] Frederick888 opened #53 "Reference list does not focus on the referencing line in preview"
As the title. Currently it always shows the beginning of the files.

[2020-08-13 06:39] antoinemadec commented on #53
I cannot reproduce this issue. `gr` previews work just fine for me.
Could you please share the minimal **vimrc** to reproduce this issue?

[2020-08-13 07:11] Frederick888 commented on #53
Thanks for the prompt response! Here is my minimal vimrc:

[code]

<img width="1752" alt="image" src="https://user-images.githubusercontent.com/4507647/90104503-bb3ecd00-dd87-11ea-9ab5-1b0612ac8130.png">

FYI I'm using NeoVim v0.4.4 with fzf 0.22.0 under macOS. Please let me know if you need any other info.

[2020-08-13 11:06] Frederick888 commented on #53
Found the culprit: junegunn/fzf.vim@4145f53f3d343c389ff974b1f1a68eeb39fba18b, apparently other lists e.g. diagnostics suffer from the same problem.

PS: [vista.vim](https://github.com/liuchengxu/vista.vim) `:Vista finder` is also influenced.

[2020-08-13 19:18] antoinemadec commented on #53
Thanks for investigating!
Will review your PR right now.

[2020-08-13 21:10] #53 closed

[2020-08-15 17:15] Frederick888 opened #55 "Not in terminal mode after selecting an item in CocFzfList"
**Steps to reproduce**:

1. `:CocFzfList`
2. Select an item and hit enter

**Actual result**:

Selected list is shown but in normal mode.

**Expected result**:

Terminal mode is used by default.

[2020-08-15 19:53] antoinemadec commented on #55
Which version of Vim/Neovim are you using?

This happens on old versions, but should not happen on more recent versions.
I used to have the logic to add `i` when necessary, but I removed it as soon as this had been fixed on Vim/Neovim:
https://github.com/antoinemadec/coc-fzf/commit/66a2892265a558f5bcb0f3ed924d26cdacdb7db0

That being said, that logic would not even have fixed your issue since you

[2020-08-16 08:39] Frederick888 commented on #55
I'm using NeoVim v0.4.4 and everything's up-to-date. On the other hand I tested again on Vim 8.2 and it did enter terminal mode automatically. Perhaps it's something we need to cater for NeoVim only?

[2020-08-16 14:40] antoinemadec commented on #55
Can you build neovim from source and try again?

[2020-08-16 14:41] antoinemadec commented on #55
Or use snap nightly build.

[2020-08-17 00:25] Frederick888 commented on #55
It seems to have been resolved in the latest NeoVim v0.5.0 build.

I just tested on NeoVim v0.4.4 under macOS and it was the same problem. Then I tried out the v0.5.0 build (published 11 hours ago) and the problem was gone.

Can we bring the workaround back for NeoVim before the fix (out of curiosity, which?) lands in their stable channel?

[2020-08-17 01:02] antoinemadec commented on #55
PR welcome, but I'd rather not spend time and energy on this.
If you want to do this you have to add a 'first_call' arg to each function and add a feedkeys(i) if not first_call (see my previous commit).
That's not hard, but it would add a lot of code for a small bug that is non existent on up-to-date vim/neovim.

[2020-08-17 01:07] antoinemadec commented on #55
Let me know what you think :relaxed:

[2020-08-17 01:10] antoinemadec commented on #55
Actually, the code i wrote in my previous commit should be enough. We would just need to add a check on the Vim/Neovim version.
Once again I won't do it, but i will accept a PR if you can pin point which patch fixed this.

[2020-08-17 09:37] Frederick888 commented on #55
Well, on one hand I agree that creating temporary workarounds is not something every open-source project should do, on the other hand based on NeoVim's pace of release we probably have to wait until late this year for v0.4.5 (and it may or may not fix this). But the `lists` list is something that I seldom use so I guess can just live with it.

Shall we keep this ticket open just to track this issu

[2020-08-17 16:42] antoinemadec commented on #55
Agreed.
If people ask for it, I will reintroduce my previous commit with a global variable, like `g:coc_fzf_force_terminal_mode` or something like that. That way we don't have to pin point it to the precise patch that fixes it.

Let's close this issue once the final Nvim 0.5 is release (the 0.5 available right now is a dev version).

[2020-08-18 01:36] fgheng opened #57 "g:coc_fzf_preview is invalid"
hello, I write `let g:coc_fzf_preview='up:50%'`, but the preview window is still in the right.

[2020-08-18 02:41] antoinemadec commented on #57
Hi @fgheng , please provide a minimal **vimrc** to reproduce this issue.

Here is an example that works just fine with me:
[code]

That being said, and as said in the README, if you want **coc-fzf** to behave like all your other Fzf programs, do the following:
[code]

[2020-08-18 02:49] antoinemadec commented on #57
Misread your issue, i thought you wanted to force it on the right. By default it should be up.
Once again, please provide minimal vimrc, and also provide the value of FZF_DEFAULT_OPTS.

[2020-08-18 06:40] Avi-D-coder commented on #53
Same issue is still present with go to definition.
I have to press `i` every time.

[2020-08-18 07:09] antoinemadec commented on #53
Didnt you mean to post this in #55 ?

[2020-08-18 10:07] Avi-D-coder commented on #53
Oops, Yes.

[2020-08-18 16:26] antoinemadec commented on #57
@fgheng , I was able to reproduce, I will fix it today.

[2020-08-18 17:04] #57 closed

[2020-08-18 17:06] antoinemadec commented on #57
@fgheng , thanks for reporting the bug.
Please provide a minimal **vimrc** to reproduce next time, this would help me tremendously :wink:

[2020-08-18 19:09] antoinemadec commented on #55
@Frederick888  @Avi-D-coder , here is the commit fixing this in Neovim: https://github.com/neovim/neovim/commit/721f69c4af8bc81ba04088e7b56f8cdba653b418

This correspond to:
[code]
which is commit **571** of nvim **v0.5.0**.

The issue is that I did not find any mechanism inside neovim to get the version and commit number, to test whether the commit is present or not.
So I opened a feature request

[2020-08-18 20:47] #55 closed

[2020-08-18 20:48] antoinemadec commented on #55
@Frederick888 @Avi-D-coder could you please upgrade **coc-fzf** and confirm it fixed your issue?

Thanks!

[2020-08-18 23:10] Frederick888 commented on #55
Yup, can confirm it's fixed! Thanks!

[2020-08-19 02:39] fgheng commented on #57
ok, I see, next, I will.

the problem has been fixed, thank you very much.

[2020-08-19 09:43] gao634209276 opened #58 "position of the syntax highlighting in the floating window is always offset"
![image](https://user-images.githubusercontent.com/17423623/90618753-fb4bf700-e242-11ea-95da-8c80761e64d5.png)

The character position of the syntax highlighting in the floating window is always offset by 1 character.
The error is shown in the above picture, who can fix it, thanks

@sethfowler @expipiplus1 @asermax @felippemr @Frederick888

[2020-08-19 16:36] antoinemadec commented on #58
@gao634209276 I cannot reproduce your issue. My preview just work fine:
![preview_correct](https://user-images.githubusercontent.com/10830594/90664038-4f34ec80-e1ff-11ea-942f-3542f7d97934.png)

Could you please provide:
1. Vim/Neovim version
2. bat version
3. **minimal** vimrc
4. the exact steps to reproduce the issue

[2020-08-19 18:56] antoinemadec commented on #58
@gao634209276 , you opened an issue with fzf.vim here: https://github.com/junegunn/fzf.vim/issues/1096
Why did you also open an issue on coc-fzf?
Why did you not reference the fzf.vim issue on this issue?

Closing this issue as this is a fzf.vim issue, not a coc-fzf issue.
If I may, if you want your issue to be resolved on fzf.vim, please consider providing a minimal testcase.
A screenshot is gene

[2020-08-19 18:56] #58 closed

[2020-08-20 16:52] rainzm opened #59 "An additional position appears in the jump list when using coc-reference"
# Environment
  - ```echo $FZF_DEFAULT_OPTS```:
[code]

  - ```bat --version```:

[code]

  - Are your vim plugins up-to-date?:
[code]
  - ```(n)vim --version```:
[code]

# Describe the Bug
An additional position appears in the jump list when use coc-reference.
When i use coc-reference(gr),  i select an item from the float window that pops up and jump to the reference position.
The beginning of th

[2020-08-20 21:12] antoinemadec commented on #59
@rainzm , thanks for reporting the bug!
I was able to reproduce this.

It should be fixed today or tomorrow :+1:

[2020-08-20 21:33] #59 closed

[2020-08-20 21:34] antoinemadec commented on #59
@rainzm , the fix was easy :smiley:
Please confirm it fixed your issue.

[2020-08-21 02:45] rainzm commented on #59
@antoinemadec It works. Thanks for your quick fix.

[2020-08-22 19:39] jdsutherland opened #61 "Add support for coc-snippets"
It'd be nice if support was added for https://github.com/neoclide/coc-snippets.

[2020-08-25 17:20] antoinemadec commented on #45
@yutakatay , I created a **release** branch to match coc.nvim's release branch.
You can know use the following in your vimrc in order not to have coc.nvim and coc-fzf in sync:
[code]

This will avoid keeping coc-fzf to the right revision manually :smile:

[2020-08-25 21:09] chinleung opened #62 "Unable to open any CocFzfList"
# Environment
  - ```echo $FZF_DEFAULT_OPTS```:
  - ```bat --version```: 0.15.4
  - Are your vim plugins up-to-date?:
  - ```(n)vim --version```:
[code]

# Describe the Bug
When I try to open any CocFzfList, I get the following error:

![image](https://user-images.githubusercontent.com/19669331/91227708-fa104380-e6f4-11ea-8066-7ddcc8c7cc07.png)

It used to work previously but I'm not sure when it

[2020-08-25 21:18] antoinemadec commented on #62
@chinleung it's because your are using Coc.nvim's 'release' branch.
See https://github.com/antoinemadec/coc-fzf#installation

Try this:
[code]

Please let me know if it fixes your issue :smiley:

[2020-08-25 21:23] chinleung commented on #62
Thanks! Using the `release` branch fixed my issue!

[2020-08-25 21:23] #62 closed

[2020-08-26 06:16] fgheng opened #65 "Error on request (listDescriptions): Vim(return):Error invoking 'listDescriptions' on channel 3 (coc)"
# Environment
  - ```echo $FZF_DEFAULT_OPTS```: --layout=reverse --info=inline
  - ```bat --version```: bat 0.15.4
  - Are your vim plugins up-to-date?: yes
  - ```(n)vim --version```:
[code]

# Describe the Bug
[code]
![image](https://user-images.githubusercontent.com/50551377/91267531-2637cd00-e7a6-11ea-8779-37b927417bc6.png)

# To Reproduce
## **Minimal** vimrc
[code]

## Steps to Reproduce
1.

[2020-08-26 06:20] antoinemadec commented on #65
See #62
Just use Coc-fzf release branch.

[2020-08-26 06:26] fgheng commented on #65
thank you very much

[2020-08-26 06:26] #65 closed

[2020-08-26 06:27] fgheng commented on #62
hello, what fonts do you use?

[2020-08-26 20:39] antoinemadec commented on #45
@yutakatay , the needed PR has been pushed on Coc's release branch, I also updated Coc-Fzf's release branch.
**Could you please update your plugins and try the following function?**
[code]

Any feedback is welcome :smiley:

[2020-08-27 07:03] yutakatay commented on #45
I just used it and it worked fine. I'll try to use it some more.

Thank you :wink:

[2020-08-27 13:36] chinleung commented on #62
I use [Dank Mono](https://dank.sh/), but it has shut down. 😄

[2020-08-27 14:27] #61 closed

[2020-08-27 14:41] antoinemadec commented on #61
@jdsutherland , support for **snippets** with preview has been added.
Multi-select (populate quickfix window) is also supported if you want to open multiple snippets.

There are 3 tiny quirks:
1. preview has no syntax highlighting as bat does not support snippets
2. the json snippets added by coc always point to the first line of the file
3. some snippets previews are 1 line off

Overall this work

[2020-08-27 16:36] antoinemadec commented on #16
@expipiplus1 , wouldn't ```:CocFzfListResume``` fit the bill?

I actually really like the fact that the sources as sorted in an alphabetical order.
The MRU always confuses me on ```:CocList```...

[2020-08-30 19:29] jdsutherland commented on #61
@antoinemadec Thanks for adding this.

I've updated master and it doesn't seem to work.

`:CocFzfList snippets` results in
[code]

[2020-08-30 20:33] antoinemadec commented on #61
@jdsutherland i guess you are using coc.nvim release branch? If that's the case you have to use coc-fzf release branch as well. See Readme.

As soon as my PR (needed for snippet and other lists) is merged on coc.nvim release i will update coc-fzf release branch as well!

[2020-08-30 21:54] jdsutherland commented on #61
Oops, I didn't realize I was using the release branch of coc.nvim.

It does, in fact, work great. Thanks!

[2020-08-31 19:45] Avi-D-coder commented on #55
This is still broken for me, both references and go to def.
[code]

[2020-08-31 20:33] antoinemadec commented on #55
There is no "entering the terminal" for references and go to def.
I doubt your issue is related to this issue.

Please look at the branches of coc and coc-fzf you are using, see Readme's installation.
If that's not it, please open a new issue and follow the template.

[2020-09-01 06:13] Frederick888 opened #67 "Extension list actions (enable, disable, etc)?"
**Describe the solution you'd like**
Sorry if this has already been implemented. `CocList extensions` allows performing different actions on extensions. At the time of writing there are toggle, configure, open, disable, enable, lock, readme, reload, fix and uninstall. Is it possible to have these functions in coc-fzf as well? Currently it seems that coc-fzf is only able to toggle the selected exte

[2020-09-01 15:15] antoinemadec commented on #55
@Avi-D-coder , after looking at your nvim version, it seems recent enough.
I cannot reproduce this issue on recent nvim versions.

Please create a new issue to describe precisely the problem.
I cannot help without sufficient info.

[2020-09-01 15:22] antoinemadec commented on #67
Those actions are not implemented yet.

I am wondering, would it be a big deal if ```CocFzfList extensions``` was pointing to ```CocList extensions``` and would drop the FZF support?

I don't know if lists like ```extensions``` and ```services``` for instance, justify spending to much time to re-implement them in FZF.
Those don't use files and have a lot of features, the interest of using FZF is l

[2020-09-02 00:23] Frederick888 commented on #67
Yup that sounds good to me :) No one's gonna have hundreds of extensions I believe lol.

Thanks for the time and effort in maintaining this project!

[2020-09-03 18:52] #67 closed

[2020-09-25 04:35] ludwj61 opened #68 "Go to definition doesn't open in floating window"
# Environment
Newest nightly nvim, fzf, coc. Newest bat.
Arch linux, alacritty.

# Describe the Bug
When calling coc-definition, e.g. through the example binding gd, the definition is not brought up in a floating window and instead jumps to the definition file like usual.

This doesn't occur with any other option, e.g. coc-references.

[2020-09-25 07:13] antoinemadec commented on #68
The definition is not supposed to be brought up in a floating window.
The floating window will pop when a function is defined in multiple files and we need to know in which file you wanna go.

This happens very often when looking for references. I hoe this helps !

Ps: please consider filling the template next time

[2020-09-25 07:17] #68 closed

[2020-09-30 22:46] ryanhhtan opened #69 "CocFzfList actions not working"
# Environment
  - ```echo $FZF_DEFAULT_OPTS```:
--multi --reverse --preview-window=right:60% --height 100% --preview "bat --style=numbers --color=always --line-range :500 {}" --bind ?:toggle-preview --bind ctrl-space:toggle-preview --bind ctrl-j:preview-down --bind ctrl-k:preview-up --bind ctrl-s:toggle-sort

  - ```bat --version```:
bat 0.15.4

  - Are your vim plugins up-to-date?:
Yes

  - ```(n

[2020-10-01 04:49] antoinemadec commented on #69
@ryanhhtan this is more of a coc.nvim issue.
I confirm ```:CocList actions``` is not available anymore.

As a temp workaround, you can do: ```:call coc_fzf#actions#fzf_run()```.
Please let me know if this work for you, in the meantime I will investigate the reason ```CocList actions``` is no longer available on coc.nvim.

[2020-10-01 05:04] antoinemadec commented on #69
@ryanhhtan OK, so the new way to use actions is:
[code]

```CocList actions``` has been replaced by ```<Plug>(coc-codeaction)```.
It will display a nice popup window for you to choose from.

Do you prefer ```:call coc_fzf#actions#fzf_run()``` over ```<Plug>(coc-codeaction)```?
If so, why?

[2020-10-01 05:38] ryanhhtan commented on #69
The :call coc_fzf#actions#fzf_run() works! Thank you so much for offering me the workaround solution. Personally, I prefer  :call coc_fzf#actions#fzf_run() over <Plug>(coc-codeaction) because the latter one can only offer to choose an action with a number or move the cursor to the item. If the list is very long, I would have to keep scrolling down to select the action I want which is really annoyi

[2020-10-01 05:38] #69 closed

[2020-10-01 12:52] dansomething commented on #69
It looks like CocAction has been added as a replacement. https://github.com/neoclide/coc.nvim/commit/bab5d20a3fab70c977ceee4eaae7d8e91915c286

[2020-10-01 13:00] antoinemadec commented on #69
Yep, that works too!
I think I will re-introduce ```:CocFzfList actions``` in the next few days, it will be cleaner than ```:call coc_fzf#actions#fzf_run()```.
The commit is ready, I just need to test it.

[2020-10-04 13:30] antoinemadec commented on #69
@ryanhhtan , @dansomething , I just reintroduced ```:CocFzfList actions```.
Feedback is welcome.

Keep in mind that:
  - ```:CocFzfList actions``` is equivalent to ```<Plug>(coc-codeaction)```, which runs actions **on the whole buffer**
  - ```CocAction``` is equivalent to ```<Plug>(coc-codeaction-selected)``` **when one line only is selected**

I hope this helps!

[2020-10-07 10:27] bratekarate opened #70 "Warning message each vim startup if bash is not in path"
Great plugin! I have an issue however if bash is not available on the system.

As per the `fzf.vim` documentation, one should do `let g:fzf_preview_window = ''` to disable previews. But `coc-fzf` still calls `fzf#vim#with_preview` on startup, causing a non-avoidable warning each vim startup:
[code]
It would be great if this function is not called if `g:fzf_preview_window == ''`, as this means prev

[2020-10-07 16:01] antoinemadec commented on #70
@bratekarate , thanks a lot for the catch.
After reading fzf.vim code, what you say makes perfect sense.

Could you please issue a PR?
Your name will be featued in the repo: fame and prestige await you :smile:

Cheers,
Antoine

[2020-10-08 02:11] bratekarate commented on #70
Wow, that sounds almost irresistable :). I am very busy right now but will get to it as soon as I find time. Probably the weekend. I think I may be the only one that tried it on windows without bash anyway 😅

[2020-10-18 05:28] expipiplus1 commented on #30
Opened this against fzf: https://github.com/junegunn/fzf/issues/2216, you're right that it's not really a coc-fzf problem

[2020-10-18 05:33] expipiplus1 commented on #16
@antoinemadec perfect, thanks!

[2020-10-18 05:33] #16 closed

[2020-10-22 11:28] antoinemadec commented on #70
Merged.
Thanks again!

[2020-10-22 11:28] #70 closed

[2020-10-22 19:52] bratekarate commented on #70
My pleaasure! No popups anymore for me on windows :)

[2020-11-10 04:53] orlandoxu opened #72 "Support replace default key-binding, and support open in a new buffer."
Hope open in new buffer default, or can replace it in vimrc.
Thx!!!

![image](https://user-images.githubusercontent.com/8287723/98629225-5decf480-2353-11eb-88c5-37254f927d33.png)

And, hope we can redefine s:default_action in vimrc.

[2020-11-10 17:38] antoinemadec commented on #72
That sounds like a good idea, PR welcome (don't forget to update the help and readme).
Cheers !

[2020-11-16 13:36] expipiplus1 commented on #69
Note that some of the results displayed by `CocAction` never appear in coc's action list (and hence never appear in coc-fzf's list).

It would be really great if coc-fzf were to have equivalents for `coc-codeaction-line` and `coc-codeaction-selected`

I do not know if the API presented by coc.nvim permits this easily though.

[2020-11-16 13:42] expipiplus1 commented on #69
Ah, looks like it is possible to get this list using `CocAction('codeActions', visualmode())`

[2020-11-16 14:34] expipiplus1 commented on #69
This patch appends actions specific to the current line to the list:

[code]

It uses the undocumented `'n'` feature. Better would be to use 'codeActionsRange' with the range of the current line!

[2020-11-17 11:07] antoinemadec commented on #72
@orlandoxu thanks for the PR, but there is a better way to do this.
Just:
- update ```coc-fzf```, it won't work without my latest commit
- and then use:
[code]

[2020-11-21 06:25] orlandoxu commented on #72
Ok. Thx!!!

[2020-11-21 19:07] #72 closed

[2020-11-22 07:29] shunlir opened #75 "support resume last search state in :CocFzfListResume command"
**Is your feature request related to a problem? Please describe.**
`CocFzfListResume` does list all the results from the source, but it doesn't keep the fuzzy search key, nor which line was selected.

**Describe the solution you'd like**
Just have a look at`:CocListResume` which does keep the last search window AS IS.

Is it possible to add this support? (seems `CocFzfListResume` doesn't support i

[2020-11-23 11:09] antoinemadec opened #76 "some actions don't work"
# Describe the Bug
Actions using the popup window more than once don't work.

# To Reproduce
Selecting **Extract Method** in a python file should open a 2nd window asking you to name the method.

# Expected Behavior
Open a 2nd window to complete the action.

[2020-11-23 11:19] antoinemadec commented on #75
@shunlir , the "which line was selected" part is not doable.
I tried it with previous implementations of **services** or **extensions**, and the issue was that this needs the vim script to fake arrow key presses : not working well.

The "which pattern was used" part might however be doable.
**Would you be interested in this despite of being sent back the first line of that search?**

[2020-11-23 12:43] shunlir commented on #75
@antoinemadec Thanks for you response.
I'm not sure whether I understand correctly, what I'm wanting is like below screen shot after resuming:

1. the search word `fix` is preserved
2. the select state is preserved
I think it's fine if line 3021 is send back as first line if it's selected (I also observe this behavior in another VIM plugin(LeaderF))

![image](https://user-images.githubusercontent.

[2020-11-23 17:39] antoinemadec commented on #75
2. Is not doable
Is that ok ?

[2020-11-24 20:16] kantord opened #77 ""Go to anything""
**Is your feature request related to a problem? Please describe.**
There are many different ways to navigate a project. Sometimes it's not effective to only search in
one list at a time, as the correct result might be found in one of many different sources. Using
different key bindings for different sources is not always effective.

**Describe the solution you'd like**
I would like to be able to s

[2020-11-24 20:23] antoinemadec commented on #77
That would be super extremely tough to implement.
I took a look at coc-denite when I started this project and i didn't see this feature in it, did I miss something?

Each Coc list has a different way of treating its elements : some are files, some are actions etc. This would be a very tough thing to implement.

[2020-11-25 08:36] elkowar opened #78 "Columnar alignment in the lists"
**Is your feature request related to a problem? Please describe.**
The list content ca be quite messy if there is a lot of information shown.

**Describe the solution you'd like**
It should be possible to align the content of the list in columns, the same way as CocList itself can now do it since my recent PR https://github.com/neoclide/coc.nvim/pull/2640

**Additional context**
Same as with Coc.n

[2020-11-25 09:38] expipiplus1 opened #79 "Support ranges for CocFzfList(actions)"
It would be great to permit running CocFzfList(actions) with a range, then the user could make a visual selection and then get the list of actions for that range. This turns out to be important sometimes for language servers which are a bit particular about when they return code actions.

coc supports this with `coc-codeaction-selected` (similar to `coc-codeaction-line`)

Probably pairs nicely wit

[2020-11-25 20:33] antoinemadec commented on #78
Sounds like a great idea, PR welcome !

[2020-11-25 20:35] antoinemadec commented on #79
Sounds good to me, PR welcome.

[2020-11-27 09:48] expipiplus1 commented on #79
I've added this functionality to my PR here: https://github.com/antoinemadec/coc-fzf/pull/74

I am not good at vimscript

[2020-11-28 13:46] #79 closed

[2020-11-28 13:50] antoinemadec commented on #77
Closing because seems not feasible. Thanks for taking time to open an issue though :)

[2020-11-28 13:50] #77 closed

[2020-11-28 13:51] antoinemadec commented on #76
@expipiplus1 , would you have time to take a look at this ?
My life is rather rock n roll these days and I don't have a minute to myself...

[2020-11-28 15:34] expipiplus1 commented on #76
What does coc itself do in this case? Could we just defer to that?

Not sure I have the time either to do this, especially since I don't have a use for it at the moment, also I'm very uncomfortable using vimscript :)

[2020-11-28 16:34] antoinemadec commented on #76
Got it, chances are that this will also involve a PR on coc using typescript. Will take a look at it when I have time

[2020-11-28 18:40] kantord commented on #77
I managed to find a way to achieve something quite similar - although not with fzf.

You need [denite.nvim](https://github.com/Shougo/denite.nvim) and a couple sources.

Then you can create this mapping:

[code]

buffer can list open buffers
file_mru can list most recent files
coc-workspace can list symbols(tags) in your project
coc-command is commands
file/rec for all your project files
help for

[2020-11-28 20:40] antoinemadec commented on #77
@kantord ok, does it this require to install coc-denite or is it working out of the box ?

[2020-11-29 05:18] qiuyi116 commented on #62
I have same problem, and change to branch release to match coc.nvim relase don't work.

[2020-11-29 07:20] kantord commented on #77
@antoinemadec it requires [coc-denite](Plug 'neoclide/coc-denite'), and the latest version, [as this bug was just fixed](https://github.com/neoclide/coc-denite/issues/9).

You'll also need this:

[code]

which supplies `file_mru`.

[2020-11-29 07:22] kantord commented on #77
I am using this config:

[code]

this will more or less simulate fzf behavior: you are instantly in fuzzy search, and <C-J> <C-K> can be used to move up and down

[2020-11-29 08:03] antoinemadec commented on #62
@qiuyi116 try updating your coc plugin.
If it still doesn't work, please open a new issue.

[2020-11-30 13:12] shunlir commented on #75
@antoinemadec the first is very helpful for my workflow.

Thanks.

[2020-11-30 14:57] antoinemadec commented on #77
@kantord , as previously said, it would be a pain to implement in FZF.

The reason that each FZF list parses and handle the information differently depending on what is in the FZF terminal window.
We would need to add info on which list each line correspond to.

Also, so list as very slow (like git issues for instance).
That would make this feature very unpractical.

In conclusion, I guess you are

[2020-11-30 19:33] appelgriebsch opened #80 "Issue opening up file selector"
# Environment
  - ```echo $FZF_DEFAULT_OPTS```: ""
  - ```bat --version```: bat 0.16.0
  - Are your vim plugins up-to-date?:
  - ```(n)vim --version```:
[code]

# Describe the Bug
I've added some overwrites for files, buffers and such to my vimrc:

[code]
This was working perfectly just some days ago, but looks like with the recent update of the plugin this is broken....

* triggering CocFzfList f

[2020-11-30 20:59] #80 closed

[2020-11-30 21:00] antoinemadec commented on #80
@appelgriebsch thanks a lot for taking the time to report this issue :heart:
It should be fixed now.

Please reopen if the problem persists.

[2020-12-07 20:06] ZacharyRizer opened #81 "List references doesn't put buffer in buffer list."
Quick question. Is it normal behavior for the buffer to not be listed when opening from the Coc-References. Meaning that if I press 'gr' to get-references, it shows them nicely in the fzf menu, and if I press enter on one, it takes me to that buffer. But if I leave that buffer, it is no longer listed in my buffer list. Is this the default behavior? If so, is there a setting to make it stay in my b

[2020-12-07 21:05] #81 closed

[2020-12-07 21:07] antoinemadec commented on #81
Nope, it was legacy code that made it through all the successive commits.
Please reopen if it persists.

[2020-12-07 21:08] antoinemadec commented on #72
@orlandoxu , the default command is now ```edit``` instead of ```buffer```.
No need to change ```g:fzf_layout``` anymore :wink:

[2020-12-07 21:39] ZacharyRizer commented on #81
Thanks for the fast response! I just updated the plugin, but I'm still not seeing it in my buffer list. To get it to stick to my buffer list I have to open it up separately using something netrw or coc-explorer.

[2020-12-14 00:37] Nadrieril opened #82 "`:CocFzfList` conflicts with `g:fzf_action`"
# Environment
  - ```echo $FZF_DEFAULT_OPTS```: --height 40% --reverse --inline-info
  - ```bat --version```: bat 0.17.1
  - Are your vim plugins up-to-date?: updated everything a few days ago
  - ```(n)vim --version```:
[code]

# Describe the Bug

For my non-coc fzf.vim usage, I have configured
[code]
Where `SmartTabEdit` is a custom command that jumps to a file if it's already open or opens it i

[2020-12-14 10:47] antoinemadec commented on #82
@Nadrieril , thanks for taking time to open this issue (and to follow the template ❤️ ).
It should work like a charm now, please let me know.
For info, this bug was only showing on ```:CocFzfList list```.

[2020-12-14 12:35] Nadrieril commented on #82
Nice, that fixes `:CocFzfList list` indeed! I still have the issue for `:CocFzfList actions` and `:CocFzfList command` however

[2020-12-14 13:50] #82 closed

[2020-12-14 13:51] antoinemadec commented on #82
@Nadrieril , yas indeed. It should be fixed for good now.
Thanks!

[2020-12-14 14:21] Nadrieril commented on #82
Perfect, it works! Thanks for your quick reaction!

[2020-12-15 10:00] smypf opened #83 "coc-fzf fails to work with builtin functions (coc-definition, cic-implementations etc) when g:fzf_preview_window is set to []"
# Environment
  - ```echo $FZF_DEFAULT_OPTS```:
```--height 40%```
  - ```bat --version```:
```bat 0.17.1```
  - Are your vim plugins up-to-date?:
Yes
  - ```(n)vim --version```:
[code]

# Describe the Bug
When disabling the preview window with `let g:fzf_preview_window = []` as described in the fzf manual the functionality no longer works, defaulting back to default behaviour.

# To Reproduce
##

[2020-12-18 16:37] AlaaSaadAbdo opened #84 "Editor enters insert mode when using `CocFzfList` and the options chosen lead to opening a file."
# Environment
  - ```echo $FZF_DEFAULT_OPTS```: "none"
  - ```bat --version```: bat 0.16.0
  - Are your vim plugins up-to-date?: yes
  - ```(n)vim --version```: NVIM v0.4.4
[code]

# Describe the Bug
When choosing a file to open from the files in the coc-fzf files menu, the correct file is opened but the editor is in insert mode. This only happens when doing the following:
[code]

This is not the

[2020-12-21 09:13] antoinemadec commented on #84
@AlaaSaadAbdo thanks for reporting this issue.
This comes from a bug in neovim related to the terminal which is needed to display the lists.

There is a workaround that I implemented in this plugin, but it is not perfect.
**Thanksfully this is fixed in newer versions of neovim. Just upgrade neovim to version > 0.5.0 to fix this issue.**

[2020-12-21 09:13] #84 closed

[2020-12-21 10:24] #83 closed

[2020-12-21 10:26] antoinemadec commented on #83
@smypf , thanks for the report.
I did not think someone would want the location lists (reference, definition etc) through FZF without the preview, but this is a completely use case.

Please let me know if you encounter further issues.

[2020-12-26 09:16] TxHawks opened #85 "CoCFzfList throws "Using a List as a Number""
# Environment
  - ```echo $FZF_DEFAULT_OPTS```:  `--border --layout=reverse`
  - ```bat --version```:  `0.17.1`
  - Are your vim plugins up-to-date?: yes
  - ```(n)vim --version```:
[code]

# Describe the Bug
Whenever I run `:CoCFzfList`, I get the following error:
[code]

These are the fzf-realted plugins I load and the order in which they are loaded:
[code]

CoC is loaded later, with `Plug 'neoc

[2020-12-26 11:09] antoinemadec commented on #85
@TxHawks I cannot reproduce your issue.
Please provide a complete **minimal vimrc** to help us solve this issue.

The github issue template is here for a reason.

Thanks in advance and merry Christmas 😃

[2020-12-26 12:41] TxHawks commented on #85
I was passing a string instead of an array of strings to `coc_fzf_opts`.

Sorry for the bother, thank you for the quick and kind reply, and merry Christmas to you too

[2020-12-26 12:41] #85 closed

[2020-12-26 17:41] antoinemadec commented on #85
@TxHawks , no problem. Glad to hear your issue is resolved !

[2020-12-27 03:22] smypf commented on #83
Thanks for taking the time to fix this @antoinemadec. I really like the interface that coc-fzf presents results in and the ease of using it over the standard implementation.

In regards to my usage when looking for a reference I want to find where it is in a particular file so the preview is unnecessary. I also don't like it since I think it adds visual clutter.

[2020-12-29 11:10] antoinemadec opened #86 "yank issues and snippets don't work anymore"
This is due to a coc-fzf bug: https://github.com/neoclide/coc.nvim/issues/2772

[2020-12-29 14:04] antoinemadec commented on #86
See neoclide/coc.nvim#2773

[2020-12-29 14:11] #86 closed

[2021-01-14 18:19] NikoKS opened #87 "Use buffer for preview window instead of the file."
**Is your feature request related to a problem? Please describe.**
Currently, when opening coc-reference, the preview window tries to open the file instead of the buffer. Is there an option to make the preview to show the buffer instead? This causes problems like:

unable to open reference for new file
![Screen Shot 2021-01-14 at 9 59 35 AM](https://user-images.githubusercontent.com/24285511/10463

[2021-02-01 04:53] oxilumin opened #89 "Terminal mode regression in NVIM v0.5.0-dev+3706-g8950f4e94"
In some latest version of nvim there seems to be a regression from https://github.com/neovim/neovim/issues/12246 that causes coc-fzf to not restore insert mode in multilevel coc-fzf menus (like services/actions/etc.)
Can't we check whether mode() returns "n" or "t" as a condition instead?

https://github.com/antoinemadec/coc-fzf/blob/a8b32b8b8a37d7fb87687c0187b7ad36987e2122/autoload/coc_fzf/common

[2021-02-13 20:18] antoinemadec commented on #87
Thanks for reporting this issue.
I don't think it is doable as the preview script opens a file outside vim and does not have the view of vim's current buffers.

If you find a way to circumvent that, please reopen this issue.

Cheers 🥂

[2021-02-13 20:18] #87 closed

[2021-02-14 11:19] antoinemadec commented on #89
@oxilumin , this is in fact a regression coming from FZF itself: https://github.com/junegunn/fzf/commit/1a76bdf8914195ab26ebac7e49a3ed8752dd69bd

Reverting this commit fixes it.
I just opened an issue here: https://github.com/junegunn/fzf/issues/2352

[2021-02-15 20:17] #89 closed

[2021-02-19 04:02] rainzm opened #90 ""E37: No write since last change (add ! to override)" occurs when opening edited file"
# Environment
  - ```echo $FZF_DEFAULT_OPTS```:

  - ```bat --version```:
  bat 0.15.4
  - Are your vim plugins up-to-date?:
  yes
  - ```(n)vim --version```:
[code]

# Describe the Bug
Use `CocFzfList diagnostics` or `<Plug>(coc-references)` to open FzfList window and select a file to open. If this file has been modified and not saved, "E37: No write since last change (add ! to override)" will oc

[2021-02-19 19:09] antoinemadec commented on #90
@rainzm thanks a lot for reporting this issue.
I will try to take a look at it in the next few days !

[2021-02-20 18:40] #90 closed

[2021-02-24 15:14] stellarhoof opened #91 "Error when there are no actions"
# Describe the Bug

`CocFzfList actions` fails if there are no actions

[code]

[2021-02-24 15:34] stellarhoof opened #92 "Do not block if LSP server has not finished starting up"
**Is your feature request related to a problem? Please describe.**

Open a file where LSP takes a while to startup and immediately invoke `CocFzfList`. It blocks the UI until the server is done.

**Describe the solution you'd like**

Not block the UI. Perhaps even display an error message saying that the server is starting up.

[2021-02-24 19:25] antoinemadec commented on #92
Please fill the bug template with precise instructions and minimal vimrc to reproduce.

[2021-02-24 19:42] antoinemadec commented on #91
Please fill the bug template with precise instructions and minimal vimrc to reproduce.

[2021-02-27 10:58] #91 closed

[2021-02-27 10:59] antoinemadec commented on #76
Closing because I don't see the error anymore.

[2021-02-27 10:59] #76 closed

[2021-02-27 11:01] antoinemadec commented on #91
@stellarhoof this should work just fine now.
The issue was that the arguments to get the line actions actions have recently changed.

Please consider following the bug template next time, that would have sped up my debug.
It is there for a reason.

Thanks in advance :smiley:

[2021-02-27 13:02] stellarhoof commented on #91
@antoinemadec Apologies. I was going to use the template when I saw your message but got bogged down at work.

[2021-02-27 15:34] expipiplus1 commented on #76
Cool :D glad that got sorted

[2021-02-27 20:14] antoinemadec commented on #76
@expipiplus1 i guess they changed it in coc.nvim. If you see this issue coming back don't hesitate to open a new issue 🎉

[2021-03-09 00:44] Frederick888 opened #93 "CocList fallbacks either insert a redundant 'i' or leave vim in insert mode"
# Environment
  - ```echo $FZF_DEFAULT_OPTS```: _(null)_
  - ```bat --version```: `0.18.0`
  - Are your vim plugins up-to-date?: Yes
  - ```(n)vim --version```:
[code]

# Describe the Bug
Some lists at the moment redirects to CoC's built-in `CocList`.

If I use such a list from `CocFzfList` (without arguments, then choose from the pop-up), either a redundant `i` is inserted into the fuzzy search b

[2021-03-09 10:11] antoinemadec commented on #93
Fzf has changed recently and it is probable that the enter_term_mode() hack is not needed anymore on neovim 0.4.4.

I will remove it in the next few days.

[2021-03-13 16:04] #93 closed

[2021-03-21 19:16] antoinemadec commented on #92
@stellarhoof closing since I don't knoow how to reproduce it,
Feel free to open a new issue if you have a minimal vimrc and steps to reproduce this.

[2021-03-21 19:16] #92 closed

[2021-04-22 06:16] lanza opened #95 "Feature request: Support `--kind` for `outline` as well"
You've implemented `--kind` for symbols but the feature also exists for the `outline` CocList type. This would also be very useful.

[2021-04-22 10:55] antoinemadec commented on #95
Is this also a feature of CocList ?

[2021-04-23 06:30] lanza commented on #95
[Yup, see here.](https://github.com/neoclide/coc.nvim/blob/bf98939a8cdaee5a0d9dbc70610660e5298075d7/src/list/source/outline.ts#L24).

[2021-04-23 06:51] antoinemadec commented on #95
Cool, definitely a feature i will add in the near future !

[2021-04-24 09:02] #95 closed

[2021-05-20 15:37] Lakshamana opened #96 "[Question] Is it possible to add some command callback on select an entry on Outline menu?"
Hi there! I think this plugin is just awesome: my only issue is (which is actually a question). Is there a way to add some command callback on right after select some entry on Outline menu (like it would dispatch some event)?
So, here's my mapping:
`nnoremap <silent> <leader>o       :<C-u>CocFzfList outline<CR>`.

Thanks! =)

# Environment
  - ```echo $FZF_DEFAULT_OPTS```: --reverse
  - ```bat --v

[2021-05-28 15:02] YongJieYongJie opened #98 "Consider enabling fullscreen FZF with preview"
**Is your feature request related to a problem? Please describe.**
When jumping to reference using a binding like `nmap <silent> gr <Plug>(coc-references)`, the FZF UI is shown as a "floating window" and there is very little space for preview (only 7 lines in my case):
![image](https://user-images.githubusercontent.com/14101781/120003082-fd2fbb80-c007-11eb-90e7-07ac2517d8a1.png)

**Describe the so

[2021-05-29 09:16] #98 closed

[2021-05-29 13:52] nakai-tsuyoshi opened #99 "The border is not displayed."
![non-border](https://user-images.githubusercontent.com/82267684/120072304-2dda2880-c0ce-11eb-9df7-515c90a318d0.png)
I'm using neovim on wsl2 (Ubuntu).
As shown in the image above, the border is not displayed. I also tried it on native Ubuntu 20.0.4 and it was the same.
When I try it on mac OS with the exact same init.vim, plugin, and providers' versions (e.g. python3.9.4, ruby 3.0.1), however, th

[2021-05-29 14:22] antoinemadec commented on #99
@nakai-tsuyoshi please follow the issue template, **minimal** vimrc, steps to reproduce etc.
Without it, i won't be able to help you.

[2021-05-30 06:13] nakai-tsuyoshi commented on #99
@antoinemadec
I'm sorry.
No special settings were required to reproduce this. Here is the enviroment I checked and the minimal init.vim.

OS: Ubuntu (WSL2) on Windows
neovim version: NVIM v0.5.0-dev+1330-gd16e9d8ed (.appimage)
providers' versions: python 3.9.4 (pyenv 0.4.3), Node.js v14.17.0 (neovim 4.10.0), yarn 1.22.10

minimal init.vim
[code]

Pressed F1, I saw a window without border.

[2021-05-30 08:11] antoinemadec commented on #99
@nakai-tsuyoshi , thanks for the minimal vimrc.

I was not able to reproduce you issue on Linux with ```nvim v0.5.0-dev+1233-g82ac44d01```.
Chances are that this is a FZF issue with windows.

Could you please try the following command: ```:FZF```.
Do you see the same problem? If so you should consider searching for/creating a ticket directly on fzf or fzf.vim.

[2021-05-30 10:15] nakai-tsuyoshi commented on #99
@antoinemadec Thanks.
When I tried the command `:FZF`, the same issue occurred. I'll check fzf.

[2021-05-30 18:46] nakai-tsuyoshi commented on #99
I have found the cause of this issue.
Windows Terminal was misbehaving.

[2021-05-30 18:46] #99 closed

[2021-05-30 18:58] antoinemadec commented on #99
@nakai-tsuyoshi was is fixed in FZF or was it fixed in your Windows config?

[2021-05-31 03:49] nakai-tsuyoshi commented on #99
@antoinemadec
I made a mistake reopening it.
I was using "Windows Terminal" developed by Microsoft as the terminal app. When I tried using the default WSL2 terminal, however, this issue didn't occur.
In other word, it was a terminal problem. I'm wondering if I should switch apps or just be patient, since I can't seem to fix it in the settings.

[2021-05-31 10:39] nakai-tsuyoshi commented on #99
@antoinemadec That comment was not accurate and will be corrected.
The default terminal for WSL2 also displayed a bit oddly, so I checked it out.
When I changed the font to MesloLGS NF, it was displayed nicely in the Windows Terminal ! It seems that the fonts used were incompatible.

![image](https://user-images.githubusercontent.com/82267684/120181078-884ac480-c247-11eb-80cd-dc3c9ed9ad37.png)

[2021-06-03 00:16] #96 closed

[2021-06-03 05:54] antoinemadec commented on #96
@Lakshamana sorry, i forgot to respond to you.
Did you find a way to do what you wanted ?

[2021-06-03 14:33] Lakshamana commented on #96
@antoinemadec it turns out to happen only with .cls (Salesforce apex classes). I even tested with js/css files but couldn't reproduce this behaviour. My fix would be to find another job for now lol

[2021-06-25 14:09] vatosarmat opened #100 "Preview for outline(document symbols) list"
Thanks you for the plugin and for preview feature in workspace symbols list in particular. How about to support it also for document symbols list? Some projects have very big source files with ~10k lines and a lot of definitions and it would be nice to quickly overview them in the list and preview interesting ones without scrolling through the whole file and reopening the list.

[2021-06-25 14:58] antoinemadec commented on #100
Sounds like a great idea. Could you please create a PR ?

[2021-07-17 07:44] m1t0z opened #102 "How to exclude unwanted files/folders from the "CocFzfList symbols" resutl?"
Hi!

First of all thanks a lot for such a great plugin!

Wanted to ask whether it's possible to exclude unwanted files/folders from the `:CocFzfList symbols` result?

Initially i thought that 'coc-fzf' plugin uses the `list.source.symbols.excludes` coc-setting but a simple experiment refuted this assumption.

Do i need to setup my fzf installation accordingly (e.g by adjusting `FZF_DEFAULT_COMMAND

[2021-07-30 17:18] #100 closed

[2021-07-30 18:02] antoinemadec commented on #102
@m1t0z , thanks for the kind words!

If I understand correctly, you are saying that:

1. ```:FzfList symbols``` uses ```list.source.symbols.excludes``` to exclude files from its search
2. ```:CocFzfList symbols``` does not use ```list.source.symbols.excludes``` to exclude files from its search

This is unexpected, ```CocFzfList symbols``` should behave like ```FzfList symbols```.
Indeed, internall

[2021-08-01 12:00] antoinemadec commented on #102
@m1t0z OK, I was able to identify and fix the issue.
The exclude is handled outside ```CocAction('getWorkspaceSymbols', 'foo')```, so I had to add it in my python script.

**Could you please update coc-fzf and tell me if this fixes your issue ?**

Thanks !

[2021-08-02 05:45] m1t0z commented on #102
Hi, @antoinemadec.

I can confirm that after updating the `coc-fzf` plugin it starts to account `list.source.symbols.excludes` and now the behavior of the `:CocList symbols` and `:CocFzfList symbols` is similar.

Thank you very much!

p.s. from my perspective the issue could be closed.

[2021-08-02 06:14] Frederick888 opened #103 "Outline preview breaks coc-fzf in virtual files"
# Environment
  - ```echo $FZF_DEFAULT_OPTS```: (empty)
  - ```echo $FZF_DEFAULT_COMMAND```: `fd --type f --hidden --follow --exclude .git`
  - ```bat --version```: 0.18.2
  - Are your vim plugins up-to-date?: Yes
  - ```(n)vim --version```:
[code]

# Describe the Bug
9cdffd8 breaks coc-fzf outline in virtual files.

For example, when I'm working on a Java project, I can go to the definition of a

[2021-08-02 06:16] #102 closed

[2021-08-02 06:31] antoinemadec commented on #103
When you say it breaks outline, is it just the preview that is broken, or is the outline not useable anymore ?

Did you check if an issue was already open on fzf.vim ?

Will try to see if we can catch this on coc-fzf side easily. Might need a testcase, will let you know.

[2021-08-02 07:41] Frederick888 commented on #103
In such files outline is not usable any more. It prints the mentioned error message and then nothing shows up.

Actually the generated fzf command looks a bit off. Usually it should be something like `fzf --multi --expect=ctrl-v,ctrl-x,ctrl-t --ansi --prompt=Coc Outline>  --layout=reverse-list --preview-window down:65%:wrap:+{-2}-5 --preview '/home/frederick/.vim/plugged/fzf.vim/bin/preview.sh' /h

[2021-08-02 08:05] Frederick888 commented on #103
Hmm... actually it's not 'virtual' files that broke it, but `:` in the buffer name.

I just tried moving a random Python project into `/tmp/foo:bar` and outline stopped working on all regular files.

[2021-08-03 07:38] #103 closed

[2021-08-03 07:40] totocaca69 commented on #103
@Frederick888 I fixed it by removing the preview for files featuring a colon.

Thanks for reporting this issue 😉

[2021-08-03 07:45] Frederick888 commented on #103
@totocaca69 Is this because fzf uses colon as option delimiter? Any workarounds to make previews work in such cases? 😅

[2021-08-03 08:24] totocaca69 commented on #103
Here is the script that ```fzf.vim``` uses for preview: https://github.com/junegunn/fzf.vim/blob/master/bin/preview.sh
It relies on the ```:```, there is no way around it 😞

[2021-08-03 08:44] totocaca69 commented on #103
@Frederick888 done !
Please update and let me know if this works for you.

[2021-08-03 10:05] Frederick888 commented on #103
@totocaca69 Yup it worked flawlessly! Thanks a ton for working on this :)

[2021-09-11 18:43] alipirpiran opened #104 "Exclude symbols from CocLocalConfig"
in issue #102 bug is fixed only for global **CocConfig** but **CocLocalConfig** still has the bug.

`list.source.symbols.excludes` works fine in **CocConfig**,
but setting `list.source.symbols.excludes` in  **CocLocalConfig**  seems has no effect.

CocLocalConfig location is ` project_dir/.vim/coc-settings.json`

[2021-09-12 13:44] antoinemadec commented on #104
@alipirpiran could you  please:

1. provide me with a simple testcase and minimal vimrc
2. what is the output of ```echo coc#util#get_config('list.source.symbols.excludes')```, does this take the local config into account?
3. what is the output of ```pwd```, is it inside or outside of you project?

```get_config()``` is the only way we can know what the excludes are. This seems to be the culprit f

[2021-09-12 14:31] alipirpiran commented on #104
yes, i changed `list.source.symbols.excludes` in local config and it overrides the values in global config.
output of `echo coc#util#get_config('list.source.symbols')` changed to local config.
but this has no effect in coc-fzf

global config: ['test']
local config:  ['\**/node_modules/\*\*', \'\*\*/.git/**\']
output of `echo coc#util#get_config('list.source.symbols')`:
`{'defaultArgs': [], 'exclud

[2021-09-12 15:20] #104 closed

[2021-09-12 15:22] antoinemadec commented on #104
@alipirpiran this should fix it.
The local config was not caught since ```get_config()``` was called after the terminal was opened.

Please reopen if you  see any issues, thanks for taking the time to open this issue :wink:

[2021-09-13 07:15] alipirpiran commented on #104
it seems after this update it cause vim crash, with error of pointer.

[2021-09-13 13:43] antoinemadec commented on #104
That is unexpected. I will need you to open a new issue and to follow the template precisely with all required info so i can debug it.

[2021-09-16 11:09] antoinemadec commented on #104
@alipirpiran any news about this ? I can't reproduce this on my end.

[2021-10-06 08:28] expipiplus1 opened #105 "Incorrect pairing of calls to codeActions and doCodeAction"
This is an issue due to a poor design decision on coc.nvim's part, basically:

We call `codeActions` several times [here](https://github.com/antoinemadec/coc-fzf/blob/2d9deb2a3b05a0c09f01edda0a4abd542cb3eebd/autoload/coc_fzf/actions.vim#L14-L16)

Coc overwrites the indexed list with every call to `codeActions` [here](https://github.com/neoclide/coc.nvim/blob/03c9add7cd867a013102dcb45fb4e75304d227d

[2021-10-14 05:37] #105 closed

[2021-10-20 04:29] chris542 opened #107 "Hitting ctrl-p on Coc-reference window opens fzf finder instead of moving cursor up the list"
# Environment
  - ```echo $FZF_DEFAULT_OPTS```:
  - ```bat --version```: 0.18.2
  - Are your vim plugins up-to-date?:
  - ```(n)vim --version```:

[code]

# Describe the Bug

When I hit `gr` to use `coc-references` and immediately hit `ctrl+p` to move up the list, it opens fzf finder

# To Reproduce
## **Minimal** vimrc
[code]

## Steps to Reproduce
1. Open a project (react project)
2. Hit gr on o

[2021-10-20 11:57] antoinemadec commented on #107
@chris542 , I am pretty sure this is bc of your Ctrlp mapping.

My guess is that when we jump in FZF's window with coc-reference, Vim is still in Normal mode until we press a key or something.
Do you have the same issue with other coc-fzf lists as well? (CocFzfList actions for instance)

[2021-11-08 14:03] r7vme opened #108 "nvim crashes on CocFzfList symbols after commit 2d9deb2a3b05a0c09f01edda0a4abd542cb3eebd"
# Environment
  - ```echo $FZF_DEFAULT_OPTS```:
  - ```bat --version```:
  - Are your vim plugins up-to-date?:
  - ```(n)vim --version```:
[code]

# Describe the Bug
A clear and concise description of what the bug is.
You can also include screenshots if needed.

# To Reproduce
## **Minimal** vimrc
[code]

## Steps to Reproduce
1. nvim -u minimal_vimrc
2. ```:e myfile.py```
3. etc

# Expected Behav

[2021-11-08 14:19] r7vme opened #109 "nvim crashes on "CocFzfList symbols" after commit 2d9deb2a3b05a0c09f01edda0a4abd542cb3eebd"
# Environment
  - ```echo $FZF_DEFAULT_OPTS```: ""
  - ```bat --version```: bat 0.18.3
  - Are your vim plugins up-to-date?: yes
  - ```(n)vim --version```:
[code]

My plugins (`neoclide/coc.nvim` bug reproduces both on master and release)
[code]

# Describe the Bug

More like raise awareness than bug in coc-fzf.

I see constant crashes with `free(): double free detected in tcache 2 [1]    81777 a

[2021-11-08 14:21] #108 closed

[2021-11-08 18:34] antoinemadec commented on #109
Your minimal vimrc includes a bunch of plugins like NerdTree etc. Could you please remove them and tell me if you still observe the crash?
If so, please provide the new minimal vimrc.

Also, what does you coc-settings.json looks like as far as the excludes are concerned?

[2021-11-09 09:41] r7vme commented on #109
@antoinemadec

Checking, post update later

Yes, I can observe same w/

[code]

[code]

[2021-11-09 09:44] r7vme commented on #109
@antoinemadec I see same error w/ nightly neovim

[code]

[2021-11-09 23:37] weirdan commented on #109
I'm seeing the same crash. Should this be reported on neovim repo though?

[2021-11-10 08:38] antoinemadec commented on #109
@r7vme @weirdan , nvim should never crash, that's for sure.

 However, I really don't trust some of the code that I added in 2d9deb2.
 For instance, this:
[code]

If the crash comes from there, maybe a brutal ```try except``` could fix this ?
I will try to reproduce and work around this bug this weekend.

[2021-11-11 16:21] #109 closed

[2021-11-11 16:24] antoinemadec commented on #109
@r7vme @weirdan this was definitely a super weird issue with neovim.
Do you think one of you could create an issue on the neovim repo?

[2021-11-11 16:33] weirdan commented on #109
I'm sure they would ask for a minimal reproducer that I won't be able to come up with.

[2021-11-11 16:39] antoinemadec commented on #109
No pb, I will take care of it then.
Thanks anyway for the precise reporting and for finding the commit causing the regression!

[2021-11-11 16:41] r7vme commented on #109
@antoinemadec appreciate that and thanks for the plugin

[2021-11-11 17:03] antoinemadec commented on #109
https://github.com/neovim/neovim/issues/16287

[2022-05-10 08:09] KirillYatsenko opened #110 "Getting error CocFzfList symbols"
Hi,

I'm getting python3 error when running command

CocFzfList symbols

![image](https://user-images.githubusercontent.com/14968248/167580539-7603e8ef-8f54-4340-bb3b-a02c1a34d698.png)

[2022-05-10 08:31] antoinemadec commented on #110
Could you please fill the template so I can help you ?

[2022-05-10 10:19] KirillYatsenko commented on #110
What template? Can you give an example?

[2022-05-10 11:47] antoinemadec commented on #110
@KirillYatsenko this is the template that should show up when you create a bug report.
Unless you use some kind of app, you should have seen it. Here it is:

# Environment
  - ```echo $FZF_DEFAULT_OPTS```:
  - ```bat --version```:
  - Are your vim plugins up-to-date?:
  - ```(n)vim --version```:
[code]

# Describe the Bug
A clear and concise description of what the bug is.
You can also include scr

[2022-05-16 14:02] antoinemadec commented on #110
@KirillYatsenko do you have any news about this?
I will close this ticket in a couple of days if I don't have any news from you.

[2022-05-22 15:07] antoinemadec commented on #110
Everything works fine on my end. Don't hesitate to reopen a ticket with a filled template.
#ghosted

[2022-05-22 15:08] #110 closed

[2022-07-05 20:25] Rofer11607 opened #112 "How to change the open command on a coc_location command"
I have remmaped my files command to jump to a window if the file is already open, I like so:

:command -nargs=1 FileRef :call FileRefFunc("<args>")

function! FileRefFunc(path)
  echom a:path
      try
            :execute "sbuffer ".a:path
      catch
            :execute "edit ".a:path
      endtry
endfunction

command! -bang -nargs=? -complete=dir Files
    \ call fzf#run(fzf#wrap('files', fzf#

[2022-09-13 07:53] gou4shi1 opened #113 "Auto jump to the first line after exit from the floating window of CocFzfLocation"
# Environment
  - ```echo $FZF_DEFAULT_OPTS```:
[code]
  - ```bat --version```:
[code]
  - Are your vim plugins up-to-date?:
[code]

# Describe the Bug
If I revert https://github.com/antoinemadec/coc-fzf/commit/9fc34a66e6744f52769bb0b95cba851723964faf, this bug will disappear.

# Expected Behavior
The cursor should keep in the same place before CocFzfLocation.

[2022-09-13 08:03] antoinemadec commented on #113
Thanks for the debug.

Thing is this tempo is a dirty workaround.
A bigger tempo might be needed in some cases depending on your plugins etc.

Could you please create a PR where the value of this tempo is 0 by default (equivalent to what is done under the if 'nvim') and when different from 0 use the value to add the tempo?

Thanks in advance!

[2022-09-13 08:06] antoinemadec commented on #113
sorry, i used the word tempo instead of delay.

You could call it g:coc_fzf_location_delay

Please don't forget to update the documentation

[2022-09-13 08:24] gou4shi1 commented on #113
I found that
[code]
can also solve this issue.

[2022-09-13 08:46] gou4shi1 commented on #113
So the root cause is other plugin?

[2022-09-13 09:22] antoinemadec commented on #113
I don't wanna use timer_start if it's not needed.

I don't know exactly what is causing this behavior.
Used to happen all the time with no other plugins than this one.
Then it was fixed, then broken again apparently...

[2022-09-13 13:51] #113 closed

[2022-09-14 09:31] antoinemadec commented on #112
@Rofer11607 sorry for the late answer !

Please look at

- the code here: https://github.com/antoinemadec/coc-fzf/blob/master/after/plugin/coc_fzf.vim#L14-L26
- CocLocationsChange in Coc.nvim help

[2022-09-14 09:31] #112 closed

[2022-09-30 07:27] wustho opened #117 "Color for diagnostic type (Error, Hint, Warning) doesn't respect the severity"
# Environment
  - ```echo $FZF_DEFAULT_OPTS```: `--layout=reverse-list --inline-info --bind ctrl-f:preview-down,ctrl-b:preview-up,ctrl-u:preview-page-up,ctrl-d:preview-page-down`
  - ```bat --version```: `bat 0.18.1`
  - Are your vim plugins up-to-date?: Yes
  - ```(n)vim --version```: `NVIM v0.8.0-dev-1170-g63be76518`
[code]

# Describe the Bug
Severity color (Error, Hint, Warning) in `:CocFzfLis

[2022-09-30 08:11] antoinemadec commented on #117
Could you please provide me with the minimal vimrc to reproduce that bug ?

[2022-10-04 21:44] thisisrandy opened #118 "Symbols list fails to resolve python3 path on linux"
# Environment
  - ```echo $FZF_DEFAULT_OPTS```: (Not set)
  - ```bat --version```: 0.12.1
  - Are your vim plugins up-to-date?: Yes
  - ```(n)vim --version```: NVIM v0.7.2
  - OS: Ubuntu 20.04.5 LTS

# Describe the Bug
Whenever `:CocFzfList symbols` is run, the following error issues:

[code]

This is the command issued in [`s:echo_core`](https://github.com/antoinemadec/coc-fzf/blob/master/autoloa

[2022-10-05 09:39] #118 closed

[2022-10-08 14:07] Sangdol opened #121 "Search results are not sorted by relevance"
Hello,

Thanks for the awesome plugin.

**Is your feature request related to a problem? Please describe.**

I found that search results are not ordered by relevance, unlike how fzf usually works. Instead, they are ordered by the lexicographical order of file paths and names.

For example, when I search `Booking` in my project, this shows up:

[code]
This makes it hard to select the desired result.

[2022-10-08 14:15] #117 closed

[2022-10-08 14:16] antoinemadec commented on #117
Please reopen with minimal vimrc if issue persists.

[2022-10-18 06:37] zl03jsj opened #122 "Help needs for fzflist preview window"
needs some help..
the color in 'background=dark' looks good, once change to  'light' the color looks weird
![image](https://user-images.githubusercontent.com/10127848/196353032-81952917-4bcd-4e68-9afd-ef957a0a4f77.png)

[2022-10-18 06:59] antoinemadec commented on #121
@Sangdol , got it.
PR is welcome !

[2022-10-18 07:00] antoinemadec commented on #122
@zl03jsj there is a template for bug reports for a reason.

Please provide the **minimal** vimrc and steps to reproduce.
This ticket will be closed in a week from now otherwise. Thanks.

[2022-10-18 09:19] antoinemadec commented on #122
@zl03jsj could you please provide a **minimal** vimrc instead of whole config file ?
My guess is that the issue lies with the colorscheme you are using.

[2022-10-24 22:31] thisisrandy opened #123 "Health check fails when ctags is not installed"
# Environment
  - ```echo $FZF_DEFAULT_OPTS```: (not set)
  - ```bat --version```: 0.12.1
  - Are your vim plugins up-to-date?: yes
  - ```(n)vim --version```: NVIM v0.8.0-1210-gd367ed9b2

# Describe the Bug
If `ctags` is not installed, `health#coc_fzf#check` fails with

[code]

The issue is a syntax error on [line 7](https://github.com/antoinemadec/coc-fzf/blob/cb405c0dc72312a06d17710a537ab0e6b67

[2022-10-25 06:46] #123 closed

[2022-10-27 16:10] zl03jsj commented on #122
ok, i will do some research on this.

[2022-10-27 16:10] #122 closed

[2022-11-14 14:47] Sangdol commented on #121
It turned out that we could fix this by just removing the `--phony` option.
https://github.com/antoinemadec/coc-fzf/blob/812b0a47d0c8b066684d75bc6f9ad84627f8579e/autoload/coc_fzf/symbols.vim#L72

You can find a discussion about this [here](https://github.com/junegunn/fzf/discussions/3045).

[2022-11-14 17:30] antoinemadec commented on #121
Ok, do you want to create a PR?